﻿@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

@import '../mixins/mixins.scss';

$white: #FFF;
$main-font: 'Source Sans Pro', sans-serif;
$main-color: #607D8B;

@mixin max-sizes-center {
    @media screen and (max-width: 768px) {
        margin: auto;
        width: 100%;
    }
}

@mixin font-groups {
    font: {
        family: $main-font;
        size: 18px;
    }
}

@mixin webkit-group-transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@mixin fixed-index {
    position: fixed;
    z-index: 1;
}

@mixin webkit-group-transition-important {
    -moz-transition: -moz-transform 0.5s ease !important;
    -webkit-transition: -webkit-transform 0.5s ease !important;
    transition: transform 0.5s ease !important;
}

@mixin icons-properties {
    color: $main-color;
    font-size: 1em;
}

main,
.home-container,
.getting-started-container,
.credentials-container__bg,
.therapeutic-style-container-content,
.getting-started-container-content,
.getting-started-container-content p,
.about-container-content {
    max-width: 1000px;
}

.contact-header,
.home-container,
.home-section-content,
.home-section__texts,
blockquote,
.home-section__image > img,
.credentials-container,
.experience-container,
.experience-container__list,
.offers-container,
.therapeutic-style-container__list,
.therapeutic-style-container-content,
.getting-started-container-content,
.about-container__texts,
.about-container-content,
.contact-texts {
    margin: auto;
}

.home-section__image p,
.about li,
.experience-container__list,
.offers-container,
.credentials-container__list p,
.getting-started-container-content p,
.about-container-content p,
.contact-texts p {
    @include font-groups;
}

.home-section__content--left,
.home-section__content--right {
    float: left;
}

body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
}

span {

    &.icon-pad__header {
        padding-right: 9px;
    }

    &.icon-pad__content {
        padding-right: 7px;
    }
}

#headerToggle {
    display: none;
}

#wrapper {
    @include webkit-group-transition;
}

#sidebar,
blockquote:before,
blockquote cite {
    display: block;
}

#sidebar {
    background-color: #37474F;
    font: {
        family: $main-font;
        size: 19px;
    }
    letter-spacing: 1px;
    margin-right: auto;
    max-width: 275px;
    padding: {
        left: 0;
        right: 0;
    }
    @include fixed-index;
    @include webkit-group-transition;
}

.sidebar-title {
    font-family: Palatino Linotype;
    max-height: 150px;
    padding-top: 10px;

    &__heading {
        font-size: 21px;
        padding: 0 8px;
    }

    &__text {
        font: {
            size: 17px;
            style: italic;
        }
    }
}

.contact-header {
    margin-top: 15%;
    max-height: 120px;
    max-width: 270px;

    @media screen and (max-width: 1080px) {
        display: none;
    }

    p {
        font-size: 14px;
    }
}

.button-menu {
    border: 0;
    margin-top: 10px;
}

.button-menu__list {

    li {
        float: none !important;

        a {
            border-radius: 0 !important;
            max-width: 275px !important;
            padding: 10px !important;
            text-transform: uppercase !important;
            width: 100% !important;
            @include webkit-group-transition-important;

            &:hover, &:focus {
                background-color: #78909C !important;
                border-radius: 0 !important;
                color: $white !important;
            }
        }
    }
}

.button-menu__list > li + li {
    margin-left: 0;
}

hr {
    border-top: 1px solid #E0E0E0;
}

main {
    float: right;
    margin-left: 24%;
    padding: {
        left: 0 !important;
        right: 0 !important;
    }
    width: 76%;
    @include max-sizes-center;
}

.container-style--bottom {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 20px;
}

.about-container {
    padding-bottom: 15px;
}

h2,
h3 {
    font: {
        family: $main-font;
        weight: bold;
    }
}

blockquote:before,
h2, h3,
.home-section__texts span,
.home-section__image figcaption > p {
    color: $main-color;
}

.home-section__content {
    overflow: hidden;
}

blockquote,
.home-section__content--left {
    max-width: 600px;
}

blockquote {
    @include border(1px, 0, 1px, 0, solid, #ccc);
    padding: 0 0 10px 0;
    width: 100%;

    &:before {
        content: "\201C";
        font: {
            size: 80px;
            family: $main-font;
        }
        height: 10px;
        left: -25px;
        position: relative;
        top: -15px;
    }
}

.home-section__content--left {
    margin: 10px 10px 0 10px;
}

.getting-started-container-content p,
.credentials-container__list p,
.about-container-content h3 {
    padding: 5px 10px;
}

.home-section__texts {
    p {
        font: {
            family: $main-font;
            size: 18px;
            style: italic;
        }

        padding: 5px 10px 5px 20px;
    }
}

.home-section__content--right,
.home-section__image img,
.home-section__image figcaption > p,
.experience-container__list {
    max-width: 300px;
}

.home-section__image img,
.experience-container,
.therapeutic-style-container__list div,
.about-container-content {
    padding-top: 10px;
}

.home-section__image {
    margin: 10px 5px;

    & > img {
        max-height: 390px;
    }

    figcaption > p {
        font-weight: bold;
        padding-top: 5px;
        text-align: center;
    }
}

.credentials-container {
    max-width: 900px;
}

.credentials-container__bg,
.offers-container__list {
    padding: 10px;
}

.subcontainer-bg {
    background-color: #DBE1E4;
}

.experience-container__list li,
.offers-container li,
.contact-texts {
    padding: 5px;
}

.experience-container {
    max-width: 620px;
}

.experience-container__list {
    padding-top: 7px;
}

.offers-container {
    max-width: 505px;
    overflow: hidden;
    padding-top: 8px;
}

.therapeutic-style-container__list {
    max-width: 940px;
    padding: 8px 10px 10px 10px;
}

.getting-started-container-content {
    padding: 0 10px 10px 10px;
}

.about-container-content p,
.contact-texts p {
    padding: 0 10px;
}

.contact-container {
    border-bottom: 0;
}

.contact-texts {
    margin-bottom: 10px;
    max-width: 375px;
    @include max-sizes-center;
}

.offers-container span,
.credentials-container__list span,
.about-container-content span,
.contact-texts span,
.ok-symbol {
    @include icons-properties;
}
