﻿@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

@import '../mixins/mixins.scss';

$white: #FFF;
$main-font: 'Source Sans Pro', sans-serif;
$main-color: #607D8B;

@mixin max-sizes-center {
    @media screen and (max-width: 768px) {
        margin: auto;
        width: 100%;
    }
}

@mixin fixed-index {
    position: fixed;
    z-index: 1;
}

@mixin webkit-group-transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@mixin webkit-group-transition-important {
    -moz-transition: -moz-transform 0.5s ease !important;
    -webkit-transition: -webkit-transform 0.5s ease !important;
    transition: transform 0.5s ease !important;
}

@media screen and (min-width: 992px) and (max-width: 1150px) {
    .about-container__texts,
    .therapeutic-style-container-content {
        padding-left: 10px;
    }

    .about-container-content h3 {
        padding-left: 20px;
    }
}

@media screen and (min-width: 992px) {
    blockquote {
        width: 85%;

        &:before {
            left: -25px;
        }
    }

    .home-section__content--left {
        width: 60%;
    }

    .home-section__content--right {
        width: 35%;
    }

    .home-section__portrait {
        width: 250px;
    }
}

@media screen and (max-width: 991px) {
    blockquote {
        padding: 1% 5%;
        margin-bottom: 2%;
    }

    .home-section__content--left,
    .home-section__content--right {
        @include margin-float-group;
    }

    .experience-container__list {
        padding-top: 0;

        li {
            padding-top: 5px 0;
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 899px) {
    #sidebar {
        font-size: 17px;
    }
}


@media screen and (min-width: 768px) {
    blockquote {

        &:before {
            top: -15px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    main {
        margin-left: 25%;
        width: 75%;
    }

    blockquote {
        &:before {
            left: -25px;
        }
    }

    .home-section__content--left {
        width: 90%;
    }

    .home-section__image > img {
        @include margin-float-group;
    }
}

@media screen and (max-width: 800px) {
    .home-section__image {
        figcaption > p {
            font-size: 21px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {

    .home-section__image {
        margin: 10px auto 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    span {

        &.icon-pad__header {
            padding-right: 5px;
        }
    }

    #sidebar {
        font-size: 16px;
    }

    .experience-container__list {
        float: none;
    }
}

@media screen and (max-width: 767px) {
    #wrapper {
        @include overflow-x-y(hidden, hidden);
    }

    #sidebar {
        -moz-transform: translateX(-256px);
        -webkit-transform: translateX(-256px);
        -ms-transform: translateX(-256px);
        transform: translateX(-256px);
        -moz-transform: translateX(-256px);
        -webkit-transform: translateX(-256px);
        -ms-transform: translateX(-256px);
        transform: translateX(-256px);
        @include webkit-group-transition;
        @include overflow-x-y(hidden, hidden);
    }

    #sidebarToggle {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: block;
        height: 2.25em;
        left: 7px;
        top: 7px;
        width: 3.25em;
        @include fixed-index;
        @include webkit-group-transition;

        .menu-toggle {
            border: 0;
            height: 100%;
            left: 0;
            outline: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &:before {
            -webkit-font-smoothing: antialiased;
            background-color: rgba(96, 125, 139, 1);
            border-radius: 0.35em;
            color: $white;
            content: '\f0c9';
            display: block;

            font: {
                size: 18px;
                family: FontAwesome;
                style: normal;
                weight: normal;
            }

            line-height: 2.25em;
            left: 0.5em;
            height: 2.25em;
            position: absolute;
            text-align: center;
            text-decoration: none;
            top: 0.5em;
            width: 3.25em;
        }
    }

    .toggleMe {
        -moz-transform: translateX(0px) !important;
        -webkit-transform: translateX(0px) !important;
        -ms-transform: translateX(0px) !important;
        transform: translateX(0px) !important;
        @include webkit-group-transition-important;
        @include fixed-index;
    }

    .toggleMeSidebar {
        -moz-transform: translateX(250px) !important;
        -webkit-transform: translateX(250px) !important;
        -ms-transform: translateX(250px) !important;
        transform: translateX(250px) !important;
        @include webkit-group-transition-important;
        @include fixed-index;
    }

    main {
        margin-left: 0%;
    }

    .home-container,
    .getting-started-container,
    .about-container,
    .contact-container {
        margin: auto;
        max-width: 1000px;
        width: 91%;
    }

    .getting-started-container-content p {
        padding: 0 4px;
    }

    .credentials-container {
        width: 90%;
    }

    .offers-container {
        width: 75%;
    }

    .therapeutic-style-container__list {
        width: 92%;
    }

    .experience-container__list {
        width: 75%;
    }

    .getting-started-container-content p {
        padding: 5px;
    }
}

@media screen and (max-width: 640px) {
    #sidebar {
        font-size: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .home-section__content--left {
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
    blockquote {
        width: 91%;

        &:before {
            left: -30px;
            top: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    blockquote {
        @include border(0, 0, 0, 0, solid, #ccc);
    }

    .home-section__content--left {
        width: 85%;
    }

    .home-section__image {
        display: none;
    }

    .about-container-content {
        width: 91%;
    }
}
