﻿.u-relative {
  position: relative; }

.u--absolute {
  position: absolute; }

.u-fixed {
  position: fixed; }

.u-text--bold {
  font-weight: bold; }

.u-text--black {
  color: #000; }

.u-text--white {
  color: #fff; }

.u-text--no-decoration {
  text-decoration: none; }

.u-bg--white {
  background-color: #fff; }

.u-full-width {
  width: 100%; }

.u-full-height {
  height: 100%; }

.u-border--0 {
  border: 0; }

.u-inline {
  display: inline; }

.u-block {
  display: block; }

.u-table {
  display: table; }

.u-flex {
  display: flex; }

.u-flex--inline {
  display: inline-flex; }

.u-flex--column {
  flex-direction: column; }

.u-center {
  align-items: center;
  justify-content: center; }

.u-space-between {
  justify-content: space-between; }

.u-space-around {
  justify-content: space-around; }

.card {
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px; }

