﻿//Utilities for positions
.u-relative {
    position: relative;
}

//Only when the parent has position: relative
.u--absolute {
    position: absolute;
}

.u-fixed {
    position: fixed;
}

//Utilities for texts and links
.u-text--bold {
    font-weight: bold;
}

.u-text--black {
    color: #000;
}

.u-text--white {
    color: #fff;
}

.u-text--no-decoration {
    text-decoration: none;
}

//Utilities for background

.u-bg--white {
    background-color: #fff;
}

//Utilities for sizes
.u-full-width {
    width: 100%;
}

.u-full-height {
    height: 100%;
}

//Utilities for border
.u-border--0 {
    border: 0;
}

//Utilities for displays
.u-inline {
    display: inline;
}

.u-block {
    display: block;
}

.u-table {
    display: table;
}

//Utilities for flexbox
.u-flex {
    display: flex;
}

.u-flex--inline {
    display: inline-flex;
}

.u-flex--column {
    flex-direction: column;
}

.u-center {
    align-items: center;
    justify-content: center;
}

.u-space-between {
    justify-content: space-between;
}

.u-space-around {
    justify-content: space-around;
}

//For Mia Babes website

.card {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}