﻿.navbar {
  border: 0; }

nav.header {
  background: #354458;
  /*box-shadow: 0 0 3px rgba(0,0,0,.1);*/ }

a.navbar-brand {
  color: #a7a0a2 !important;
  float: left !important;
  transition: background linear 0.35s;
  margin-top: 10px;
  padding: 10px 20px !important; }

a.navbar-brand > strong {
  color: #f4f4f2; }

a.navbar-brand:hover {
  background: #D3D3D3; }

.navbar-buttons {
  float: right;
  margin-right: 30px;
  margin-top: 20px; }

@media screen and (max-width: 767px) {
  #toggle-button {
    margin-top: 13px; } }

.navbar-right > li > a {
  line-height: 33px !important; }

.headerLink {
  line-height: 38px;
  font-family: Ubuntu, sans-serif;
  text-decoration: none;
  color: #f4f4f2 !important;
  transition: background linear 0.15s;
  height: 60px; }

.headerLink:hover {
  background: #333333 !important;
  text-decoration: none;
  color: #f4f4f2; }

.howWeWorkText {
  color: #6e6e6e; }

#howWeWorkTitle {
  color: #354458; }

.howWeWorkTitle {
  color: #ff7043; }

body {
  padding-top: 50px !important;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
select {
  max-width: 280px; }

.sectionTitle {
  font-family: Ubuntu, sans-serif;
  color: #333; }

._label {
  text-decoration: none !important; }

h2 {
  margin-top: 10px !important; }

.content {
  /*margin-top: 50px;*/
  /*margin: 0 auto;*/
  /*padding: 50px 0;*/ }

.lightGrayBackground {
  background: whitesmoke; }

.redBackground {
  background: #AB1500; }

.whiteText {
  color: #ffffff !important; }

.siteSection {
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px; }

.sectionDescription {
  color: #494949;
  font-family: Lato, sans-serif;
  font-size: 20px; }

.howWeWorkTitle {
  font-family: Lato, sans-serif;
  font-weight: bold; }

.howWeWorkText {
  font-family: Lato, sans-serif;
  font-size: larger; }

.anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden; }

.quote {
  float: left; }

.testimonialArticle {
  width: 25%;
  float: left;
  margin-left: 25px;
  margin-right: 25px; }

.testimonial {
  float: left;
  width: 70%;
  margin-left: 15px; }

.myFooter {
  clear: both; }

.testimonialSectionTitle {
  color: #ffffff !important; }

.testimonialTitle {
  font-weight: bold;
  color: #ffffff !important;
  font-family: Ubuntu, sans-serif; }

.testimonialText {
  color: #ffffff;
  font-family: Lato; }

.testimonialSection {
  overflow: hidden; }

#thankYou {
  margin-top: 60px; }

#goHome {
  background: #ff7043;
  border-color: #ff7043;
  padding: 5px 20px;
  font-weight: bold;
  color: #f4f4f2; }

#title {
  margin-bottom: 20px; }

#content {
  margin-bottom: 20px;
  color: #6e6e6e;
  font-size: larger;
  font-family: Lato, sans-serif; }

div.servicesRow {
  padding: 0 25px; }

.servicesFigure {
  margin: 25px 0; }

.servicesIcon {
  font-size: 10em;
  margin-bottom: 30px;
  color: #ff7043 !important; }

.servicesDiv {
  overflow: hidden;
  width: 100%;
  margin: 0 auto; }

.servicesCaption {
  font-weight: bold; }

.servicesCaptionTitle {
  color: #f4f4f2; }

.servicesCaptionDescription {
  color: #a7a0a2; }

#whatWeDoDescription {
  color: #a7a0a2; }

#navbarHeader,
#whoWeAre {
  background: #354458; }

#whoWeAre {
  clear: left; }

#whatWeDoTitle {
  color: #f4f4f2; }

#getInTouchSection {
  background: #354458 !important; }

#getInTouchTitle {
  color: #f4f4f2; }

#getInTouchDescription {
  color: #a7a0a2; }

#contactUsButton {
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  background: #ff7043;
  border-color: #ff7043; }

#contactUsForm {
  color: #354458; }

#submitForm {
  background: #ff7043;
  border-color: #ff7043;
  padding: 5px 20px;
  font-weight: bold; }

.row {
  padding-left: 10px !important;
  padding-right: 10px !important; }

#contactUsSection {
  padding-top: 35px;
  margin-bottom: 60px; }

#contactUsForm {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }

#contactUsSection {
  padding-top: 35px;
  margin-bottom: 30px; }

#contactUsFormTitle {
  margin-bottom: 10px;
  font-weight: bold; }

#contactUsButton {
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold; }

.emailUsIcon {
  font-size: 3.5em; }

.footerText a {
  color: #9EA4A7;
  text-decoration: none; }

.footerText span {
  color: #9EA4A7;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px; }

.copyright {
  color: #9EA4A7; }

#footer {
  margin-top: 30px; }

