﻿@import url("https://fonts.googleapis.com/css?family=Raleway");

@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

main {

    .content {
        flex-direction: column;
        justify-content: center;

        &.content-width--large {
            max-width: 725px;
        }

        .card-content--large {
            max-width: 725px;

            .card-content__images {
                padding: 10px 0;
            }

            .card-content__side {
                @media screen and (max-width: 767px) {
                    align-items: center;
                    flex-direction: column;
                }

                .card-content__side--left,
                .card-content__side--right {
                    max-width: 330px;

                    @media screen and (max-width: 767px) {
                        max-width: 100%;
                    }
                }

                .card-content__side--right {
                    margin-left: 0px;
                }
            }
        }
    }
}
