﻿@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
main .content {
  flex-direction: column;
  justify-content: center; }
  main .content.content-width--large {
    max-width: 725px; }
  main .content .card-content--large {
    max-width: 725px; }
    main .content .card-content--large .card-content__images {
      padding: 10px 0; }
    @media screen and (max-width: 767px) {
      main .content .card-content--large .card-content__side {
        align-items: center;
        flex-direction: column; } }
    main .content .card-content--large .card-content__side .card-content__side--left,
    main .content .card-content--large .card-content__side .card-content__side--right {
      max-width: 330px; }
      @media screen and (max-width: 767px) {
        main .content .card-content--large .card-content__side .card-content__side--left,
        main .content .card-content--large .card-content__side .card-content__side--right {
          max-width: 100%; } }
    main .content .card-content--large .card-content__side .card-content__side--right {
      margin-left: 0px; }

