﻿@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@media screen and (max-width: 767px) {
  .main .content .card-content {
    max-width: 100%; }
    .main .content .card-content .card-content__text.card-content__text--bottom {
      padding-bottom: 0 !important; }
    .main .content .card-content .card-content__text .card-content__text-icon {
      margin-left: 5px; } }
    @media screen and (max-width: 767px) and (max-width: 480px) {
      .main .content .card-content .card-content__text .card-content__text-icon {
        display: none;
        margin-left: 0; } }

