﻿@import url("https://fonts.googleapis.com/css?family=Raleway");

@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

.main {

    .content {

        .card-content {

            @media screen and (max-width: 767px) {
                max-width: 100%;

                .card-content__text {

                    &.card-content__text--bottom {
                        padding-bottom: 0 !important;
                    }

                    .card-content__text-icon {
                        margin-left: 5px;

                        @media screen and (max-width: 480px) {
                            display: none;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
