﻿@import url("https://fonts.googleapis.com/css?family=Raleway");

@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

main {

    .content {

        &.content-width--x-large {
            max-width: 900px;

            @media screen and (max-width: 767px) {
                max-width: 300px;
            }

            .card-content {

                &.card-content--x-large {
                    max-width: 900px;

                    .card-content__box {
                        flex-direction: row;

                        @media screen and (max-width: 767px) {
                            align-items: center;
                            flex-direction: column;
                        }

                        .card-content__link {
                            padding: 10px;

                            .card-content__image {
                                border: 1px solid #ccc;
                                max-width: 200px;

                                @media screen and (max-width: 767px) {
                                    max-width: 300px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
