﻿@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
main .content.content-width--x-large {
  max-width: 900px; }
  @media screen and (max-width: 767px) {
    main .content.content-width--x-large {
      max-width: 300px; } }
  main .content.content-width--x-large .card-content.card-content--x-large {
    max-width: 900px; }
    main .content.content-width--x-large .card-content.card-content--x-large .card-content__box {
      flex-direction: row; }
      @media screen and (max-width: 767px) {
        main .content.content-width--x-large .card-content.card-content--x-large .card-content__box {
          align-items: center;
          flex-direction: column; } }
      main .content.content-width--x-large .card-content.card-content--x-large .card-content__box .card-content__link {
        padding: 10px; }
        main .content.content-width--x-large .card-content.card-content--x-large .card-content__box .card-content__link .card-content__image {
          border: 1px solid #ccc;
          max-width: 200px; }
          @media screen and (max-width: 767px) {
            main .content.content-width--x-large .card-content.card-content--x-large .card-content__box .card-content__link .card-content__image {
              max-width: 300px; } }

