﻿@import url("https://fonts.googleapis.com/css?family=Raleway");

@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

@import '../mixins/mixins.scss';

html {
    height: 100%;
    position: relative;
}

body {
    background-color: #F6EDF8;
    font-family: Raleway;
}

header {
    min-height: 70px;

    .nav-menu {
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        margin-bottom: 0 !important;
        max-height: 70px;
        opacity: 0.9;
        z-index: 10;

        @media screen and (max-width: 768px) {
            opacity: 1;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            max-height: 100px;
        }

        .nav-menu__header,
        .navbar-collapse {
            @media screen and (max-width: 768px) {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }

        .nav-menu__header {

            .nav-menu__toggle {
                border: 1px solid #ccc;
                margin: 15px 15px 0 0;

                .nav-menu__toggle-icon {
                    background-color: #ccc;
                }
            }

            .nav-menu__logo {
                float: left;
                max-height: 70px;

                @media screen and (max-width: 767px) {
                    line-height: 50px;
                }

                @media screen and (min-width: 768px) and (max-width: 900px) {
                    max-height: 100px;
                    max-width: 230px;
                }

                @media screen and (min-width: 900px) and (max-width: 1023px) {
                    max-height: 100px;
                    max-width: 270px;
                }

                .nav-menu__logo-text {
                    font: {
                        family: Great Vibes;
                        size: 36px;
                    }

                    margin-bottom: 0;
                    padding-top: 10px;
                    text-indent: 10px;

                    @media screen and (max-width: 1080px) {
                        font-size: 30px;
                    }

                    @media screen and (min-width: 768px) and (max-width: 799px) {
                        font-size: 28px;
                    }

                    @media screen and (max-width: 479px) {
                        font-size: 24px;
                    }

                    @media screen and (max-width: 383px) {
                        font-size: 22px;
                    }

                    @media screen and (max-width: 359px) {
                        font-size: 18px;
                    }
                }
            }
        }

        .nav-bar {
            float: right;
            margin-top: 9px;
            max-width: 640px;

            @media screen and (max-width: 767px) {
                border-top: 0;
                max-width: 100%;
                margin: 0;
                padding-left: 0 !important;
                padding-right: 0 !important;
                position: absolute;
                z-index: 1;
            }

            @media screen and (min-width: 768px) and (max-width: 1080px) {
                padding: 0;
            }

            @media screen and (min-width: 768px) and (max-width: 800px) {
                max-width: 500px;
            }

            @media screen and (min-width: 800px) and (max-width: 900px) {
                margin-top: 4px;
                max-width: 530px;
            }

            @media screen and (min-width: 900px) and (max-width: 1120px) {
                max-width: 600px;
            }

            .nav-bar__list {
                font-size: 18px;

                @media screen and (max-width: 767px) {
                    background-color: #fff;
                    @include border-values(1px, 0, 1px, 0, solid, #ccc);
                    font-size: 24px;
                    margin: 0 !important;
                    width: 100%;
                }

                @media screen and (min-width: 768px) and (max-width: 1023px) {
                    font-size: 21px;
                }

                .nav-bar__list-item {
                    letter-spacing: 1px;

                    @media screen and (max-width: 767px) {
                        margin-left: 0;
                        padding: 15px 0 15px 15px;
                    }

                    a {
                        padding: 12px;
                        transition: color 0.5s;

                        &:hover {
                            background-color: #fff;
                            color: #000;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

main {
    padding: 50px 0;

    @media screen and (max-width: 767px) {
        padding: 30px 0;
    }

    .content {
        max-width: 640px;

        .content-box {
            margin-bottom: 30px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media screen and (max-width: 767px) {
                align-items: center;
                flex-direction: column;
            }
        }

        .card-content {
            max-width: 300px;

            @media screen and (max-width: 767px) {
                margin-bottom: 20px;
                max-width: 90%;
            }

            &.card-content--high {
                padding: 0;
            }

            .card-content__heading {
                font-size: 21px;
                padding-bottom: 10px;

                @media screen and (max-width: 767px) {
                    font-size: 26px;
                }

                &.card-content__heading--pad {
                    padding: 20px 15px 0px;
                }
            }

            .card-content__text {
                font-size: 16px;

                @media screen and (max-width: 767px) {
                    font-size: 21px;
                }

                &.card-content__text--bot-pad {
                    padding-bottom: 15px;
                }
            }

            .card-content__img {
                border-top: 1px solid #ccc;
                max-width: 300px;

                @media screen and (max-width: 767px) {
                    max-width: 100%;
                }
            }
        }
    }
}

footer {
    border-top: 1px solid #ccc;
    line-height: 70px;
    max-height: 70px;
    padding: 0 20px;
    position: absolute;

    .bottom-container {
        flex-direction: row;
        max-width: 1000px;

        @media screen and (max-width: 767px) {
            justify-content: center;
        }

        .bottom-container__icons {
            max-width: 130px;

            .bottom-container__icons-circle {
                margin-left: 10px;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    border-radius: 0;
                    border: 1px solid #000;
                    padding: 8px 6px 5px 6px;
                    text-align: center;
                    text-decoration: none;

                    @media screen and (max-width: 767px) {
                        padding: 15px 6px 5px 6px;
                    }

                    .bottom-container__icons-color {
                        display: inline;
                        font-size: 21px;
                        color: #000 !important;

                        @media screen and (max-width: 767px) {
                            font-size: 30px;
                        }
                    }
                }
            }
        }

        .bottom-container__text {
            margin-left: auto;

            @media screen and (max-width: 767px) {
                display: none;
            }

            p {
                font-size: 15px;
                margin: 0;
            }
        }
    }
}
