﻿@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
html {
  height: 100%;
  position: relative; }

body {
  background-color: #F6EDF8;
  font-family: Raleway; }

header {
  min-height: 70px; }
  header .nav-menu {
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: 0 !important;
    max-height: 70px;
    opacity: 0.9;
    z-index: 10; }
    @media screen and (max-width: 768px) {
      header .nav-menu {
        opacity: 1; } }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      header .nav-menu {
        max-height: 100px; } }
    @media screen and (max-width: 768px) {
      header .nav-menu .nav-menu__header,
      header .nav-menu .navbar-collapse {
        margin-left: 0 !important;
        margin-right: 0 !important; } }
    header .nav-menu .nav-menu__header .nav-menu__toggle {
      border: 1px solid #ccc;
      margin: 15px 15px 0 0; }
      header .nav-menu .nav-menu__header .nav-menu__toggle .nav-menu__toggle-icon {
        background-color: #ccc; }
    header .nav-menu .nav-menu__header .nav-menu__logo {
      float: left;
      max-height: 70px; }
      @media screen and (max-width: 767px) {
        header .nav-menu .nav-menu__header .nav-menu__logo {
          line-height: 50px; } }
      @media screen and (min-width: 768px) and (max-width: 900px) {
        header .nav-menu .nav-menu__header .nav-menu__logo {
          max-height: 100px;
          max-width: 230px; } }
      @media screen and (min-width: 900px) and (max-width: 1023px) {
        header .nav-menu .nav-menu__header .nav-menu__logo {
          max-height: 100px;
          max-width: 270px; } }
      header .nav-menu .nav-menu__header .nav-menu__logo .nav-menu__logo-text {
        font-family: Great Vibes;
        font-size: 36px;
        margin-bottom: 0;
        padding-top: 10px;
        text-indent: 10px; }
        @media screen and (max-width: 1080px) {
          header .nav-menu .nav-menu__header .nav-menu__logo .nav-menu__logo-text {
            font-size: 30px; } }
        @media screen and (min-width: 768px) and (max-width: 799px) {
          header .nav-menu .nav-menu__header .nav-menu__logo .nav-menu__logo-text {
            font-size: 28px; } }
        @media screen and (max-width: 479px) {
          header .nav-menu .nav-menu__header .nav-menu__logo .nav-menu__logo-text {
            font-size: 24px; } }
        @media screen and (max-width: 383px) {
          header .nav-menu .nav-menu__header .nav-menu__logo .nav-menu__logo-text {
            font-size: 22px; } }
        @media screen and (max-width: 359px) {
          header .nav-menu .nav-menu__header .nav-menu__logo .nav-menu__logo-text {
            font-size: 18px; } }
    header .nav-menu .nav-bar {
      float: right;
      margin-top: 9px;
      max-width: 640px; }
      @media screen and (max-width: 767px) {
        header .nav-menu .nav-bar {
          border-top: 0;
          max-width: 100%;
          margin: 0;
          padding-left: 0 !important;
          padding-right: 0 !important;
          position: absolute;
          z-index: 1; } }
      @media screen and (min-width: 768px) and (max-width: 1080px) {
        header .nav-menu .nav-bar {
          padding: 0; } }
      @media screen and (min-width: 768px) and (max-width: 800px) {
        header .nav-menu .nav-bar {
          max-width: 500px; } }
      @media screen and (min-width: 800px) and (max-width: 900px) {
        header .nav-menu .nav-bar {
          margin-top: 4px;
          max-width: 530px; } }
      @media screen and (min-width: 900px) and (max-width: 1120px) {
        header .nav-menu .nav-bar {
          max-width: 600px; } }
      header .nav-menu .nav-bar .nav-bar__list {
        font-size: 18px; }
        @media screen and (max-width: 767px) {
          header .nav-menu .nav-bar .nav-bar__list {
            background-color: #fff;
            border-top: 1px;
            border-right: 0;
            border-bottom: 1px;
            border-left: 0;
            border-style: solid;
            border-color: #ccc;
            font-size: 24px;
            margin: 0 !important;
            width: 100%; } }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          header .nav-menu .nav-bar .nav-bar__list {
            font-size: 21px; } }
        header .nav-menu .nav-bar .nav-bar__list .nav-bar__list-item {
          letter-spacing: 1px; }
          @media screen and (max-width: 767px) {
            header .nav-menu .nav-bar .nav-bar__list .nav-bar__list-item {
              margin-left: 0;
              padding: 15px 0 15px 15px; } }
          header .nav-menu .nav-bar .nav-bar__list .nav-bar__list-item a {
            padding: 12px;
            transition: color 0.5s; }
            header .nav-menu .nav-bar .nav-bar__list .nav-bar__list-item a:hover {
              background-color: #fff;
              color: #000;
              font-weight: bold; }

main {
  padding: 50px 0; }
  @media screen and (max-width: 767px) {
    main {
      padding: 30px 0; } }
  main .content {
    max-width: 640px; }
    main .content .content-box {
      margin-bottom: 30px; }
      main .content .content-box:last-of-type {
        margin-bottom: 0; }
      @media screen and (max-width: 767px) {
        main .content .content-box {
          align-items: center;
          flex-direction: column; } }
    main .content .card-content {
      max-width: 300px; }
      @media screen and (max-width: 767px) {
        main .content .card-content {
          margin-bottom: 20px;
          max-width: 90%; } }
      main .content .card-content.card-content--high {
        padding: 0; }
      main .content .card-content .card-content__heading {
        font-size: 21px;
        padding-bottom: 10px; }
        @media screen and (max-width: 767px) {
          main .content .card-content .card-content__heading {
            font-size: 26px; } }
        main .content .card-content .card-content__heading.card-content__heading--pad {
          padding: 20px 15px 0px; }
      main .content .card-content .card-content__text {
        font-size: 16px; }
        @media screen and (max-width: 767px) {
          main .content .card-content .card-content__text {
            font-size: 21px; } }
        main .content .card-content .card-content__text.card-content__text--bot-pad {
          padding-bottom: 15px; }
      main .content .card-content .card-content__img {
        border-top: 1px solid #ccc;
        max-width: 300px; }
        @media screen and (max-width: 767px) {
          main .content .card-content .card-content__img {
            max-width: 100%; } }

footer {
  border-top: 1px solid #ccc;
  line-height: 70px;
  max-height: 70px;
  padding: 0 20px;
  position: absolute; }
  footer .bottom-container {
    flex-direction: row;
    max-width: 1000px; }
    @media screen and (max-width: 767px) {
      footer .bottom-container {
        justify-content: center; } }
    footer .bottom-container .bottom-container__icons {
      max-width: 130px; }
      footer .bottom-container .bottom-container__icons .bottom-container__icons-circle {
        margin-left: 10px; }
        footer .bottom-container .bottom-container__icons .bottom-container__icons-circle:first-child {
          margin-left: 0; }
        footer .bottom-container .bottom-container__icons .bottom-container__icons-circle a {
          border-radius: 0;
          border: 1px solid #000;
          padding: 8px 6px 5px 6px;
          text-align: center;
          text-decoration: none; }
          @media screen and (max-width: 767px) {
            footer .bottom-container .bottom-container__icons .bottom-container__icons-circle a {
              padding: 15px 6px 5px 6px; } }
          footer .bottom-container .bottom-container__icons .bottom-container__icons-circle a .bottom-container__icons-color {
            display: inline;
            font-size: 21px;
            color: #000 !important; }
            @media screen and (max-width: 767px) {
              footer .bottom-container .bottom-container__icons .bottom-container__icons-circle a .bottom-container__icons-color {
                font-size: 30px; } }
    footer .bottom-container .bottom-container__text {
      margin-left: auto; }
      @media screen and (max-width: 767px) {
        footer .bottom-container .bottom-container__text {
          display: none; } }
      footer .bottom-container .bottom-container__text p {
        font-size: 15px;
        margin: 0; }

