﻿@import url("https://fonts.googleapis.com/css?family=Raleway");

@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

main {

    .content {

        .card-content {

            &.card-content--medium {
                max-width: 640px;

                .card-content__box {
                    flex-direction: row;
                    margin-bottom: 30px;

                    @media screen and (max-width: 767px) {
                        flex-direction: column;
                    }

                    &:last-of-type {
                        margin-bottom: 5px;

                        @media screen and (max-width: 767px) {
                            margin-bottom: 0;
                        }
                    }
                }

                .card-content__left-side {

                    .card-content__list {
                        font-size: 16px;

                        @media screen and (max-width: 767px) {
                            font-size: 21px;
                        }

                        .card-content__list-item {
                            margin-top: 5px;
                        }
                    }
                }

                .card-content__right-side {

                    .card-content__image {
                        margin-left: 20px;
                        max-width: 280px;

                        @media screen and (max-width: 767px) {
                            margin-left: 0;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}
