﻿@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
main .content .card-content.card-content--medium {
  max-width: 640px; }
  main .content .card-content.card-content--medium .card-content__box {
    flex-direction: row;
    margin-bottom: 30px; }
    @media screen and (max-width: 767px) {
      main .content .card-content.card-content--medium .card-content__box {
        flex-direction: column; } }
    main .content .card-content.card-content--medium .card-content__box:last-of-type {
      margin-bottom: 5px; }
      @media screen and (max-width: 767px) {
        main .content .card-content.card-content--medium .card-content__box:last-of-type {
          margin-bottom: 0; } }
  main .content .card-content.card-content--medium .card-content__left-side .card-content__list {
    font-size: 16px; }
    @media screen and (max-width: 767px) {
      main .content .card-content.card-content--medium .card-content__left-side .card-content__list {
        font-size: 21px; } }
    main .content .card-content.card-content--medium .card-content__left-side .card-content__list .card-content__list-item {
      margin-top: 5px; }
  main .content .card-content.card-content--medium .card-content__right-side .card-content__image {
    margin-left: 20px;
    max-width: 280px; }
    @media screen and (max-width: 767px) {
      main .content .card-content.card-content--medium .card-content__right-side .card-content__image {
        margin-left: 0;
        max-width: 100%; } }

