﻿body {
  padding: 0; }

#curriculum-vitae,
#cv-header,
#contact-details,
#cv-content,
#education-section {
  max-width: 750px; }

#curriculum-vitae {
  margin: 2% auto;
  border: 1px solid #DDD; }

#curriculum-vitae,
#contact-details,
#education-section,
#skills-section,
#experience-section,
#projects-section,
#other-skills-section {
  clear: left; }

#education-section,
#skills-section {
  overflow: hidden; }

#title-name {
  letter-spacing: 1px;
  margin-top: 10px; }

#title-name,
.projects-titles,
#avantaj-consulting,
#univ-of-birmingham,
.job-title > p span {
  font-weight: bold; }

.job-title > p .contract {
  font-style: italic;
  font-weight: normal; }

.font--tahoma {
  font-family: Tahoma; }

.text--black {
  color: #000000; }

#personal-information,
#education-section,
#experience-section,
#skills-section > .skills-list > li.text--black,
.projects-texts {
  font-size: 18px; }
  @media screen and (max-width: 383px) {
    #personal-information,
    #education-section,
    #experience-section,
    #skills-section > .skills-list > li.text--black,
    .projects-texts {
      font-size: 15px; } }
  @media screen and (min-width: 384px) and (max-width: 414px) {
    #personal-information,
    #education-section,
    #experience-section,
    #skills-section > .skills-list > li.text--black,
    .projects-texts {
      font-size: 16px; } }
  @media screen and (min-width: 415px) and (max-width: 512px) {
    #personal-information,
    #education-section,
    #experience-section,
    #skills-section > .skills-list > li.text--black,
    .projects-texts {
      font-size: 17px; } }

.font--calibri {
  font-family: Calibri; }

#cv-header {
  width: 100%;
  height: 100%;
  max-height: 70px; }
  #cv-header h2 {
    -webkit-font-smoothing: antialiased;
    line-height: 70px; }

#curriculum-vitae,
#cv-content,
#contact-details,
#personal-information,
#education-section,
#avantaj-consulting-container,
#university-container,
#skills-section,
#experience-section,
#projects-section,
#other-skills-section {
  width: 100%; }

#picture > img {
  height: 100%; }

body,
#cv-header,
#contact-details,
#cv-content,
#education-section {
  margin: auto; }

.cv-titles {
  background: #304153;
  color: #FFFFFF;
  font-size: 19px;
  margin: 2.5% 0%; }
  @media screen and (max-width: 511px) {
    .cv-titles {
      font-size: 16px; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .cv-titles {
      font-size: 18px; } }

#contact-details > #picture,
#personal-information,
.avantaj-consulting-year,
#avantaj-consulting-education,
.university-year,
#university-education {
  float: left; }

#contact-details > #picture,
#personal-information,
.projects-texts,
#education-section-intitutions,
.job-title,
.skills-list {
  margin-left: 4%; }
  @media screen and (max-width: 767px) {
    #contact-details > #picture,
    #personal-information,
    .projects-texts,
    #education-section-intitutions,
    .job-title,
    .skills-list {
      margin-left: 1%; } }
  @media screen and (min-width: 768px) and (max-width: 899px) {
    #contact-details > #picture,
    #personal-information,
    .projects-texts,
    #education-section-intitutions,
    .job-title,
    .skills-list {
      margin-left: 2.5%; } }
  @media screen and (min-width: 900px) and (max-width: 1023px) {
    #contact-details > #picture,
    #personal-information,
    .projects-texts,
    #education-section-intitutions,
    .job-title,
    .skills-list {
      margin-left: 3%; } }

@media screen and (max-width: 675px) {
  #contact-details #picture {
    margin: auto;
    float: none; } }

#contact-details #picture img {
  max-height: 200px; }
  @media screen and (max-width: 675px) {
    #contact-details #picture img {
      display: block;
      margin: auto;
      float: none; } }

#personal-information {
  margin-top: 2.75%;
  max-width: 480px; }
  @media screen and (max-width: 675px) {
    #personal-information {
      margin: auto;
      float: none; } }
  @media screen and (max-width: 767px) {
    #personal-information {
      padding-top: 0.5%; } }
  #personal-information #personal-information-details {
    margin-left: 0%; }
    @media screen and (max-width: 767px) {
      #personal-information #personal-information-details {
        margin-left: 1%; } }
    #personal-information #personal-information-details p {
      margin-bottom: 8px; }
      @media screen and (max-width: 675px) {
        #personal-information #personal-information-details p:last-child {
          margin-bottom: 0; } }

@media screen and (max-width: 480px) {
  .linkedin-link,
  .other-skills-link,
  .icons,
  .icons-projects {
    display: none; } }

@media screen and (min-width: 481px) {
  .replaced-linkedin-link,
  .replaced-other-skills-link {
    display: none; } }

#education-section-institutions > p {
  margin: 5px 0; }

#avantaj-consulting-container,
#university-container {
  max-width: 700px; }

#avantaj-consulting-education {
  margin-left: 12.2%; }
  @media screen and (max-width: 329px) {
    #avantaj-consulting-education {
      margin-left: 12%; } }
  @media screen and (min-width: 330px) and (max-width: 359px) {
    #avantaj-consulting-education {
      margin-left: 17%; } }
  @media screen and (min-width: 360px) and (max-width: 410px) {
    #avantaj-consulting-education {
      margin-left: 17%; } }
  @media screen and (min-width: 411px) and (max-width: 511px) {
    #avantaj-consulting-education {
      margin-left: 16%; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    #avantaj-consulting-education {
      margin-left: 16%; } }
  @media screen and (min-width: 600px) and (max-width: 640px) {
    #avantaj-consulting-education {
      margin-left: 13.5%; } }

#university-container {
  clear: left; }
  #university-container #university-education {
    margin-left: 5%; }
    #university-container #university-education p:nth-child(2) {
      margin-bottom: 0; }

.experience-list {
  padding-left: 0; }

#projects-section .projects-texts {
  margin-right: 2%; }
  @media screen and (max-width: 720px) {
    #projects-section .projects-texts .projects-links,
    #projects-section .projects-texts .icons {
      display: none; } }
  @media screen and (min-width: 721px) {
    #projects-section .projects-texts .replaced-projects-links {
      display: none; } }

.icons,
.icons-projects {
  color: #304153; }

.icons-projects {
  margin-right: 4px; }
  @media screen and (max-width: 480px) {
    .icons-projects {
      margin-right: 0; } }

.icons-margin {
  margin-left: 6px; }
  @media screen and (max-width: 480px) {
    .icons-margin {
      margin-left: 0; } }

.in-progress {
  margin-left: 4px;
  font-style: italic;
  font-weight: normal; }

.skills-list,
experience-list {
  margin-bottom: 0; }

.skills-list li,
.experience-list li {
  margin-top: 1.5%; }
  .skills-list li span:first-child,
  .experience-list li span:first-child {
    position: relative;
    top: 3px; }
    @media screen and (max-width: 411px) {
      .skills-list li span:first-child,
      .experience-list li span:first-child {
        top: 1px; } }

#other-skills-section {
  padding-bottom: 2%; }

