﻿$max-size: 100%;
$white: #FFFFFF;
$black: #000000;

@mixin margin-float-group {
    margin: auto;
    float: none;
}
@mixin max-width-height {
    width: 100%;
    height: 100%;
}
@mixin max-width-no-display {
    @media screen and (max-width: 480px) {
        display: none;
    }
}
@mixin min-width-no-display {
    @media screen and (min-width: 481px) {
        display: none;
    }
}

body {   
    padding: 0;
}
#curriculum-vitae,
#cv-header,
#contact-details, 
#cv-content,
#education-section {
    max-width: 750px; 
}
#curriculum-vitae {
    margin: 2% auto;
    border: 1px solid #DDD;
} 
#curriculum-vitae,
#contact-details,
#education-section,
#skills-section,
#experience-section,
#projects-section,
#other-skills-section {
    clear: left;
}
#education-section,
#skills-section {
    overflow: hidden;
}
#title-name {
	letter-spacing: 1px;
	margin-top: 10px; 
}
#title-name,
.projects-titles,
#avantaj-consulting, 
#univ-of-birmingham,
.job-title>p span {  
    font-weight: bold;
}
.job-title>p .contract {
    font: {
        style: italic;
        weight: normal;
    }
}
.font--tahoma {
    font-family: Tahoma;
}
.text--black {
    color: $black;
}
#personal-information,
#education-section,
#experience-section,
#skills-section>.skills-list>li.text--black,
.projects-texts {
    font-size: 18px;
    @media screen and (max-width: 383px) {
        font-size: 15px;
    }
    @media screen and (min-width: 384px) and (max-width: 414px) {
        font-size: 16px;
    }
    @media screen and (min-width: 415px) and (max-width: 512px) {
        font-size: 17px;
    }
}
.font--calibri {
    font-family: Calibri;
}
#cv-header {
    @include max-width-height;
    max-height: 70px;
    h2 {
        -webkit-font-smoothing: antialiased;
        line-height: 70px;
    }
}
#curriculum-vitae,
#cv-content,
#contact-details, 
#personal-information,
#education-section,
#avantaj-consulting-container,
#university-container,
#skills-section,
#experience-section,
#projects-section,
#other-skills-section {
    width: $max-size;
}
#picture>img {
    height: $max-size;
}
body,
#cv-header,
#contact-details, 
#cv-content,
#education-section {
	margin: auto;
}
.cv-titles {
    background: #304153;
    color: $white;
    font-size: 19px;
    margin: 2.5% 0%;
    @media screen and (max-width: 511px) {
        font-size: 16px;
    }
    @media screen and (min-width: 512px) and (max-width: 599px) {
        font-size: 18px;
    }
}
#contact-details>#picture,
#personal-information,
.avantaj-consulting-year,
#avantaj-consulting-education,
.university-year,
#university-education {
    float: left;
}
#contact-details>#picture,
#personal-information,
.projects-texts,
#education-section-intitutions,
.job-title,
.skills-list {
    margin-left: 4%;
    @media screen and (max-width: 767px) {
        margin-left: 1%;
    }
    @media screen and (min-width: 768px) and (max-width: 899px) {
        margin-left: 2.5%;
    }
    @media screen and (min-width: 900px) and (max-width: 1023px) {
        margin-left: 3%;
    }
}
#contact-details {
    #picture {
        @media screen and (max-width: 675px) {
            @include margin-float-group;
        }
        img  {
            max-height: 200px;
            @media screen and (max-width: 675px) {
                display: block;
                @include margin-float-group;
            }
        }
    }
}
#personal-information {
    margin-top: 2.75%;
    max-width: 480px;
    @media screen and (max-width: 675px) {
        @include margin-float-group;
    }
    @media screen and (max-width: 767px) {
        padding-top: 0.5%;
    }
    #personal-information-details {
        margin-left: 0%;
        @media screen and (max-width: 767px) {
            margin-left: 1%;
        }
        p {
            margin-bottom: 8px;
            &:last-child {
                @media screen and (max-width: 675px) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.linkedin-link,
.other-skills-link,
.icons,
.icons-projects {
    @include max-width-no-display;
}
.replaced-linkedin-link,
.replaced-other-skills-link {
    @include min-width-no-display;
}
#education-section-institutions > p {
    margin: 5px 0;
}
#avantaj-consulting-container,
#university-container {
    max-width: 700px;
}
#avantaj-consulting-education {
    margin-left: 12.2%;
    @media screen and (max-width: 329px) {
        margin-left: 12%;
    }
    @media screen and (min-width: 330px) and (max-width: 359px) {
        margin-left: 17%;
    }
    @media screen and (min-width: 360px) and (max-width: 410px) {
        margin-left: 17%;
    }
    @media screen and (min-width: 411px) and (max-width: 511px) {
        margin-left: 16%;
    }
    @media screen and (min-width: 512px) and (max-width: 599px) {
        margin-left: 16%;
    }
    @media screen and (min-width: 600px) and (max-width: 640px) {
        margin-left: 13.5%;
    }
}
#university-container {
    clear: left;
    #university-education {
        margin-left: 5%;
        p:nth-child(2) {
            margin-bottom: 0;
        }
    }
}
.experience-list {
    padding-left: 0;
}
#projects-section {
    .projects-texts {
        margin-right: 2%;
        .projects-links,
        .icons {
            @media screen and (max-width: 720px) {
                display: none;
            }
        }
        .replaced-projects-links {
            @media screen and (min-width: 721px) {
                display: none;
            }
        }
    }
} 
.icons,
.icons-projects {
    color: #304153;
}
.icons-projects {
    margin-right: 4px;
    @media screen and (max-width: 480px) {
        margin-right: 0;
    }
}
.icons-margin {
    margin-left: 6px;
    @media screen and (max-width: 480px) {
        margin-left: 0;
    }
}
.in-progress {
    margin-left: 4px;
    font: {
        style: italic;
        weight: normal;
    }
}
.skills-list,
experience-list {
    margin-bottom: 0;
}
.skills-list,
.experience-list {
    li {
        margin-top: 1.5%;
        span:first-child {
            position: relative;
            top: 3px;
            @media screen and (max-width: 411px) {
                top: 1px;
            }
        }
    }
}
#other-skills-section {
    padding-bottom: 2%;
}

