@mixin margin-float {
    @media screen and (max-width: 767px) {
        float: none;
        margin: auto;
    }
}

@mixin overflow-x-y($x, $y) {
    overflow: {
        x: $x;
        y: $y;
    }
}

@mixin border-values($top, $right, $bottom, $left, $style, $color) {
    border: {
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        style: $style;
        color: $color;
    }
}

@mixin css-triangle($color, $direction, $size) {
    @if $direction==down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }
    @else if $direction==up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }
    @else if $direction==right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
    @else if $direction==left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
}