﻿#loadIcon,
#loadIcon img,
.destinationTable {
  width: 100%; }

#background-main {
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.5);
  position: fixed;
  z-index: 5; }

#loadIcon {
  max-width: 50px;
  margin: 3% auto; }
  #loadIcon img {
    height: 100%;
    max-width: 50px;
    max-height: 50px; }
    @media screen and (max-width: 414px) {
      #loadIcon img {
        max-width: 30px;
        max-height: 30px; } }
    @media screen and (min-width: 415px) and (max-width: 767px) {
      #loadIcon img {
        max-width: 35px;
        max-height: 35px; } }

.destinationTable {
  font-size: 15px;
  font-family: Ubuntu;
  max-width: 1150px;
  text-align: center;
  margin: 3% 0%;
  background: #FFFFFF; }
  @media screen and (max-width: 374px) {
    .destinationTable {
      font-size: 10px; } }
  @media screen and (min-width: 375px) and (max-width: 414px) {
    .destinationTable {
      font-size: 12px; } }
  @media screen and (min-width: 415px) and (max-width: 512px) {
    .destinationTable {
      font-size: 13px; } }
  @media screen and (min-width: 513px) and (max-width: 768px) {
    .destinationTable {
      font-size: 14px; } }

.destinationTable > tbody > tr > td,
.destinationTable > tbody > tr > th,
.destinationTable > tfoot > tr > td,
.destinationTable > tfoot > tr > th,
.destinationTable > thead > tr > td,
.destinationTable > thead > tr > th {
  border: 1px solid #D1C4E9 !important; }

.destinationTable {
  display: none; }

.destinationTable > tbody > tr > td > img {
  height: 100%;
  width: 100%;
  max-height: 28px;
  max-width: 28px;
  margin-left: 5px; }
  @media screen and (max-width: 383px) {
    .destinationTable > tbody > tr > td > img {
      display: none; } }
  @media screen and (min-width: 384px) and (max-width: 414px) {
    .destinationTable > tbody > tr > td > img {
      max-height: 18px;
      max-width: 18px;
      margin-left: 2px; } }
  @media screen and (min-width: 434px) and (max-width: 511px) {
    .destinationTable > tbody > tr > td > img {
      max-height: 25px;
      max-width: 25px;
      margin-left: 3px; } }

@media screen and (max-width: 512px) {
  tr th:nth-child(4),
  tr td:nth-child(4) {
    display: none; } }

@media screen and (max-width: 767px) {
  tr th:nth-child(3),
  tr td:nth-child(3) {
    display: none; } }

th {
  background: #522981;
  color: #FFFFFF; }

tr > td {
  cursor: pointer; }

th,
td {
  padding: 0.8%; }

