﻿@mixin widthHeight {   
    height: 100%;
    width: 100%;  
}

$white: #FFFFFF; 
$black: #000000;
$maxWidth: 1150px;
$ral: Raleway;
$ubu: Ubuntu;
$main-font: 16px;

#loadIcon,
#loadIcon img,
.destinationTable {
	width: 100%;
}
#background-main {
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25, 0.5);
    position: fixed;
    z-index: 5;
}
#loadIcon {  
	max-width: 50px;
	margin: 3% auto;
    img {
	    height: 100%;
	    max-width: 50px;
	    max-height: 50px;
        @media screen and (max-width: 414px) {
		    max-width: 30px;
		    max-height: 30px;
        }
        @media screen and (min-width: 415px) and (max-width: 767px) {
		    max-width: 35px;
		    max-height: 35px;
	    }
    }
}
.destinationTable {
	font-size: $main-font - 1px;
	font-family: $ubu;
	max-width: $maxWidth;
	text-align: center;
	margin: 3% 0%;
	background: $white;
    @media screen and (max-width: 374px) {
	    font-size: $main-font - 6px;
    }
    @media screen and (min-width: 375px) and (max-width: 414px) {
	    font-size: $main-font - 4px;
    }
    @media screen and (min-width: 415px) and (max-width: 512px) {
	    font-size: $main-font - 3px;
    }
    @media screen and (min-width: 513px) and (max-width: 768px) {
	    font-size: $main-font - 2px;
    }
}
.destinationTable>tbody>tr>td,
.destinationTable>tbody>tr>th,
.destinationTable>tfoot>tr>td,
.destinationTable>tfoot>tr>th,
.destinationTable>thead>tr>td,
.destinationTable>thead>tr>th {
	border: 1px solid #D1C4E9 !important;
}
.destinationTable {
    display: none;
}
.destinationTable>tbody>tr>td>img {
    @include widthHeight;
    max-height: 28px;
    max-width: 28px;
	margin-left: 5px;
    @media screen and (max-width: 383px) {
	    display: none;
    }
    @media screen and (min-width: 384px) and (max-width: 414px) {
	    max-height: 18px;
        max-width: 18px;
        margin-left: 2px;
    }
    @media screen and (min-width: 434px) and (max-width: 511px) {
	    max-height: 25px;
        max-width: 25px;
        margin-left: 3px;
    }
}
tr th:nth-child(4),
tr td:nth-child(4) {
    @media screen and (max-width: 512px) {
        display: none;
    }
}
tr th:nth-child(3),
tr td:nth-child(3) {
    @media screen and (max-width: 767px) {
        display: none;
    }
}
th {
	background: #522981;
	color: $white;
}
tr>td {
    cursor: pointer;
}
th, 
td {
	padding: 0.8%;
}
