﻿@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
.flightDetails,
#flightDetailsTop,
#flightInformation,
#flight-route-details,
.flightRoute,
#flightDetailsBottom,
#origin-town > img,
#destination-town > img,
.flying-plane,
.more,
.more .spanCircle,
#british-airways-details > img,
#airlineLogo,
#british-airways-contact {
  height: 100%;
  width: 100%; }

.flightDetails,
#flightDetailsTop,
#flightInformation,
#flight-route-details,
#flightDetailsBottom {
  max-width: 600px; }
  @media screen and (max-width: 360px) {
    .flightDetails,
    #flightDetailsTop,
    #flightInformation,
    #flight-route-details,
    #flightDetailsBottom {
      max-width: 285px; } }
  @media screen and (min-width: 360px) and (max-width: 384px) {
    .flightDetails,
    #flightDetailsTop,
    #flightInformation,
    #flight-route-details,
    #flightDetailsBottom {
      max-width: 300px; } }
  @media screen and (min-width: 384px) and (max-width: 434px) {
    .flightDetails,
    #flightDetailsTop,
    #flightInformation,
    #flight-route-details,
    #flightDetailsBottom {
      max-width: 325px; } }
  @media screen and (min-width: 435px) and (max-width: 512px) {
    .flightDetails,
    #flightDetailsTop,
    #flightInformation,
    #flight-route-details,
    #flightDetailsBottom {
      max-width: 370px; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .flightDetails,
    #flightDetailsTop,
    #flightInformation,
    #flight-route-details,
    #flightDetailsBottom {
      max-width: 425px; } }
  @media screen and (min-width: 600px) and (max-width: 650px) {
    .flightDetails,
    #flightDetailsTop,
    #flightInformation,
    #flight-route-details,
    #flightDetailsBottom {
      max-width: 470px; } }

.flightDetails {
  background: #FFFFFF;
  position: fixed;
  margin: 2% auto;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  max-height: 580px;
  font-family: Ubuntu;
  border: 1px solid #D1C4E9; }
  @media screen and (max-width: 360px) {
    .flightDetails {
      max-height: 335px; } }
  @media screen and (max-width: 511px) {
    .flightDetails {
      margin: 15% auto; } }
  @media screen and (min-width: 360px) and (max-width: 411px) {
    .flightDetails {
      max-height: 348px; } }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    .flightDetails {
      max-height: 377px; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    .flightDetails {
      max-height: 395px; } }
  @media screen and (min-width: 414px) and (max-width: 415px) {
    .flightDetails {
      max-height: 397px; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .flightDetails {
      max-height: 390px; } }
  @media screen and (min-width: 512px) and (max-width: 600px) {
    .flightDetails {
      margin: 13% auto; } }
  @media screen and (min-width: 540px) and (max-width: 550px) {
    .flightDetails {
      max-height: 395px; } }
  @media screen and (min-width: 600px) and (max-width: 650px) {
    .flightDetails {
      max-height: 410px; } }
  @media screen and (min-width: 601px) and (max-width: 799px) {
    .flightDetails {
      margin: 10% auto; } }
  @media screen and (min-width: 651px) and (max-width: 719px) {
    .flightDetails {
      max-height: 456px; } }
  @media screen and (min-width: 720px) and (max-width: 799px) {
    .flightDetails {
      max-height: 450px; } }
  @media screen and (min-width: 768px) and (max-width: 799px) {
    .flightDetails {
      max-height: 434px; } }
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    .flightDetails {
      max-height: 560px; } }
  @media screen and (min-width: 980px) and (max-width: 1023px) {
    .flightDetails {
      max-height: 565px; } }
  @media screen and (min-width: 1600px) {
    .flightDetails {
      max-height: 600px; } }
  .flightDetails .town-name {
    text-align: center;
    font-size: 20px;
    font-style: italic; }
    @media screen and (max-width: 383px) {
      .flightDetails .town-name {
        font-size: 14px; } }
    @media screen and (min-width: 384px) and (max-width: 411px) {
      .flightDetails .town-name {
        font-size: 15px; } }
    @media screen and (min-width: 412px) and (max-width: 512px) {
      .flightDetails .town-name {
        font-size: 16px; } }
    @media screen and (min-width: 512px) and (max-width: 650px) {
      .flightDetails .town-name {
        font-size: 17px; } }
  .flightDetails .airport-town-name {
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold; }
    @media screen and (max-width: 359px) {
      .flightDetails .airport-town-name {
        font-size: 16px; } }
    @media screen and (min-width: 360px) and (max-width: 383px) {
      .flightDetails .airport-town-name {
        font-size: 17px; } }
    @media screen and (min-width: 384px) and (max-width: 411px) {
      .flightDetails .airport-town-name {
        font-size: 18px; } }
    @media screen and (min-width: 412px) and (max-width: 434px) {
      .flightDetails .airport-town-name {
        font-size: 19px; } }
    @media screen and (min-width: 435px) and (max-width: 511px) {
      .flightDetails .airport-town-name {
        font-size: 22px; } }
    @media screen and (min-width: 512px) and (max-width: 650px) {
      .flightDetails .airport-town-name {
        font-size: 18px; } }

#flightDetailsTop > .flightDetailsTopRight,
#destination-town {
  float: right; }

#flightDetailsTop > .flightDetailsTopLeft,
#origin-town,
.more,
#british-airways-details > img,
#british-airways-contact,
#airlineLogo {
  float: left; }

#flightDetailsTop > .flightDetailsTopLeft,
#flightDetailsTop > .flightDetailsTopRight,
.flightStatusInformation,
.more span,
.more p {
  color: #FFFFFF; }

#flightDetailsTop {
  background: #522981;
  max-height: 30px;
  line-height: 30px; }
  #flightDetailsTop .flightDetailsTopLeft {
    font-size: 20px;
    font-weight: bold;
    text-indent: 5px; }
    @media screen and (max-width: 383px) {
      #flightDetailsTop .flightDetailsTopLeft {
        font-size: 11px; } }
    @media screen and (min-width: 384px) and (max-width: 411px) {
      #flightDetailsTop .flightDetailsTopLeft {
        font-size: 13px; } }
    @media screen and (min-width: 412px) and (max-width: 434px) {
      #flightDetailsTop .flightDetailsTopLeft {
        font-size: 15px; } }
    @media screen and (min-width: 435px) and (max-width: 512px) {
      #flightDetailsTop .flightDetailsTopLeft {
        font-size: 16px; } }
  #flightDetailsTop .flightDetailsTopRight {
    font-size: 14px;
    margin-right: 10px; }
    @media screen and (max-width: 359px) {
      #flightDetailsTop .flightDetailsTopRight {
        font-size: 10px;
        margin-left: 4px; } }
    @media screen and (min-width: 360px) and (max-width: 411px) {
      #flightDetailsTop .flightDetailsTopRight {
        font-size: 12px; } }
    @media screen and (min-width: 384px) and (max-width: 411px) {
      #flightDetailsTop .flightDetailsTopRight {
        margin-right: 5px; } }
    @media screen and (min-width: 412px) and (max-width: 512px) {
      #flightDetailsTop .flightDetailsTopRight {
        font-size: 13px;
        margin-right: 6px; } }

#flightInformation {
  max-height: 85px;
  background: #522981;
  margin-top: 2.5%; }
  @media screen and (max-width: 383px) {
    #flightInformation {
      max-height: 60px; } }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    #flightInformation {
      margin-top: 2%; } }
  @media screen and (min-width: 384px) and (max-width: 650px) {
    #flightInformation {
      max-height: 75px; } }
  #flightInformation .flightStatus {
    width: 100%;
    max-width: 500px;
    margin: auto; }

.flightStatusTitles,
.flightStatusInformation {
  float: left; }

.flightStatusTitles {
  color: #C5ADE9;
  font-size: 18px;
  margin: 1.75% 0% 0% 13.5%; }
  @media screen and (max-width: 360px) {
    .flightStatusTitles {
      margin: 3.5% 0% 0% 12%; } }
  @media screen and (max-width: 374px) {
    .flightStatusTitles {
      font-size: 11px; } }
  @media screen and (min-width: 375px) and (max-width: 383px) {
    .flightStatusTitles {
      margin: 3.5% 0% 0% 10%;
      font-size: 13px; } }
  @media screen and (min-width: 384px) and (max-width: 433px) {
    .flightStatusTitles {
      margin: 3.5% 0% 0% 9%; } }
  @media screen and (min-width: 384px) and (max-width: 650px) {
    .flightStatusTitles {
      font-size: 15px; } }
  @media screen and (min-width: 434px) and (max-width: 511px) {
    .flightStatusTitles {
      margin: 2.5% 0% 0% 10.5%; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .flightStatusTitles {
      margin: 3% 0% 0% 12.5%; } }
  @media screen and (min-width: 600px) and (max-width: 650px) {
    .flightStatusTitles {
      margin: 3% 0% 0% 14.5%; } }

.flightStatusInformation {
  font-size: 18px;
  margin: 1.75% 0% 0% 13%; }
  @media screen and (max-width: 359px) {
    .flightStatusInformation {
      margin: 4% 0% 0% 9%; } }
  @media screen and (min-width: 360px) and (max-width: 374px) {
    .flightStatusInformation {
      margin: 4% 0% 0% 8%; } }
  @media screen and (max-width: 384px) {
    .flightStatusInformation {
      font-size: 12px; } }
  @media screen and (min-width: 375px) and (max-width: 383px) {
    .flightStatusInformation {
      margin: 2.75% 0% 0% 9.5%;
      font-size: 12px; } }
  @media screen and (min-width: 384px) and (max-width: 512px) {
    .flightStatusInformation {
      font-size: 14px; } }
  @media screen and (min-width: 384px) and (max-width: 433px) {
    .flightStatusInformation {
      margin: 4% 0% 0% 8%; } }
  @media screen and (min-width: 434px) and (max-width: 511px) {
    .flightStatusInformation {
      margin: 4% 0% 0% 11%; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .flightStatusInformation {
      margin: 2% 0% 0% 10%; } }
  @media screen and (min-width: 512px) and (max-width: 650px) {
    .flightStatusInformation {
      font-size: 16px; } }
  @media screen and (min-width: 900px) and (max-width: 1300px) {
    .flightStatusInformation {
      margin: 2% 0% 0% 13.5%; } }

.terminalNumber {
  margin-left: 14%; }
  @media screen and (max-width: 359px) {
    .terminalNumber {
      margin-left: 13%; } }
  @media screen and (min-width: 384px) and (max-width: 412px) {
    .terminalNumber {
      margin-left: 12%; } }
  @media screen and (min-width: 413px) and (max-width: 433px) {
    .terminalNumber {
      margin-left: 11%; } }
  @media screen and (min-width: 434px) and (max-width: 550px) {
    .terminalNumber {
      margin-left: 13%; } }
  @media screen and (min-width: 600px) and (max-width: 639px) {
    .terminalNumber {
      margin-left: 15%; } }
  @media screen and (min-width: 640px) and (max-width: 650px) {
    .terminalNumber {
      margin-left: 15%; } }

.scheduledTime {
  margin-left: 19%; }
  @media screen and (max-width: 359px) {
    .scheduledTime {
      margin-left: 17.5%; } }
  @media screen and (min-width: 360px) and (max-width: 412px) {
    .scheduledTime {
      margin-left: 18%; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .scheduledTime {
      margin-left: 18.5%; } }
  @media screen and (min-width: 540px) and (max-width: 550px) {
    .scheduledTime {
      margin-left: 18%; } }
  @media screen and (min-width: 600px) and (max-width: 800px) {
    .scheduledTime {
      margin-left: 19%; } }
  @media screen and (min-width: 1280px) and (max-width: 1300px) {
    .scheduledTime {
      margin-left: 19%; } }

#flight-route-details {
  max-height: 50px;
  margin-top: 5%; }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    #flight-route-details {
      margin-top: 1.5%;
      max-height: 75px; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    #flight-route-details {
      margin-top: 2.5%; } }
  @media screen and (min-width: 768px) and (max-width: 799px) {
    #flight-route-details {
      margin-top: 2%; } }
  @media screen and (min-width: 800px) and (max-width: 1080px) {
    #flight-route-details {
      margin-top: 2.75%; } }

#origin-town,
#destination-town {
  font-size: 15px;
  margin: 1.5% 2%; }
  @media screen and (max-width: 383px) {
    #origin-town,
    #destination-town {
      font-size: 11px; } }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    #origin-town,
    #destination-town {
      font-size: 13px; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    #origin-town,
    #destination-town {
      font-size: 14px; } }
  @media screen and (min-width: 512px) and (max-width: 650px) {
    #origin-town,
    #destination-town {
      font-size: 16px; } }

#origin-town > img,
#destination-town > img {
  position: relative;
  width: 40px;
  height: 30px; }
  @media screen and (max-width: 411px) {
    #origin-town > img,
    #destination-town > img {
      width: 33px; } }
  @media screen and (max-width: 383px) {
    #origin-town > img,
    #destination-town > img {
      height: 25px; } }
  @media screen and (min-width: 384px) and (max-width: 410px) {
    #origin-town > img,
    #destination-town > img {
      height: 28px; } }

.flightDuration {
  margin-top: 2%;
  font-size: 15px;
  font-weight: bold; }
  @media screen and (max-width: 383px) {
    .flightDuration {
      font-size: 12px; } }
  @media screen and (min-width: 384px) and (max-width: 410px) {
    .flightDuration {
      font-size: 13px; } }

.flightRoute {
  max-width: 475px;
  max-height: 2px;
  background: #000000;
  margin: auto; }
  @media screen and (max-width: 359px) {
    .flightRoute {
      max-width: 200px; } }
  @media screen and (min-width: 360px) and (max-width: 383px) {
    .flightRoute {
      max-width: 250px; } }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    .flightRoute {
      max-width: 265px; } }
  @media screen and (min-width: 412px) and (max-width: 434px) {
    .flightRoute {
      max-width: 280px; } }
  @media screen and (min-width: 435px) and (max-width: 511px) {
    .flightRoute {
      max-width: 300px; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .flightRoute {
      max-width: 355px; } }
  @media screen and (min-width: 600px) and (max-width: 650px) {
    .flightRoute {
      max-width: 400px; } }

.flying-plane {
  position: relative;
  left: 22%;
  margin-top: 2.5%;
  max-width: 125px;
  max-height: 40px; }
  @media screen and (max-width: 411px) {
    .flying-plane {
      max-width: 70px;
      max-height: 20px;
      left: 11%; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    .flying-plane {
      max-width: 80px;
      max-height: 25px;
      left: 8%; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .flying-plane {
      max-width: 85px;
      max-height: 33px; } }
  @media screen and (min-width: 512px) and (max-width: 600px) {
    .flying-plane {
      left: 13%; } }
  @media screen and (min-width: 601px) and (max-width: 650px) {
    .flying-plane {
      left: 13%; } }
  @media screen and (min-width: 651px) and (max-width: 695px) {
    .flying-plane {
      left: 19%; } }

#flightDetailsBottom {
  max-height: 85px;
  background: #522981;
  margin-top: 11%; }
  @media screen and (max-width: 359px) {
    #flightDetailsBottom {
      max-height: 69px; } }
  @media screen and (min-width: 360px) and (max-width: 383px) {
    #flightDetailsBottom {
      max-height: 75px; } }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    #flightDetailsBottom {
      margin-top: 4.5%; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    #flightDetailsBottom {
      margin-top: 14%; } }
  @media screen and (min-width: 414px) and (max-width: 435px) {
    #flightDetailsBottom {
      margin-top: 15%; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    #flightDetailsBottom {
      margin-top: 13.5%;
      max-height: 89px; } }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    #flightDetailsBottom {
      margin-top: 12%; } }

.more {
  max-width: 119px;
  max-height: 120px; }
  @media screen and (max-width: 359px) {
    .more {
      max-width: 56px; } }
  @media screen and (min-width: 360px) and (max-width: 383px) {
    .more {
      max-width: 59px; } }
  @media screen and (min-width: 384px) and (max-width: 434px) {
    .more {
      max-width: 64px; } }
  @media screen and (min-width: 435px) and (max-width: 512px) {
    .more {
      max-width: 73px; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .more {
      max-width: 84px; } }
  @media screen and (min-width: 600px) and (max-width: 650px) {
    .more {
      max-width: 93px; } }
  .more span {
    font-size: 30px;
    padding: 8px 0; }
    @media screen and (max-width: 359px) {
      .more span {
        font-size: 18px;
        padding: 6px 0; } }
    @media screen and (min-width: 360px) and (max-width: 512px) {
      .more span {
        padding: 7px 0; } }
    @media screen and (min-width: 360px) and (max-width: 383px) {
      .more span {
        font-size: 19px; } }
    @media screen and (min-width: 384px) and (max-width: 411px) {
      .more span {
        font-size: 20px; } }
    @media screen and (min-width: 412px) and (max-width: 512px) {
      .more span {
        font-size: 21px; } }
  .more p {
    font-size: 13px;
    margin-top: 5%; }
    @media screen and (max-width: 384px) {
      .more p {
        font-size: 8px;
        margin-top: 6%; } }
    @media screen and (min-width: 360px) and (max-width: 411px) {
      .more p {
        font-size: 10px; } }
    @media screen and (min-width: 412px) and (max-width: 512px) {
      .more p {
        font-size: 11px; } }
    @media screen and (min-width: 435px) and (max-width: 599px) {
      .more p {
        font-size: 12px; } }
    @media screen and (min-width: 512px) and (max-width: 599px) {
      .more p {
        margin-top: 1.5%; } }
    @media screen and (min-width: 600px) and (max-width: 650px) {
      .more p {
        margin-top: 5%;
        font-size: 11px; } }
  .more .spanCircle {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    border: 1px solid #FFFFFF;
    margin-top: 7%;
    text-align: center; }
    .more .spanCircle:hover {
      cursor: pointer; }
    @media screen and (max-width: 359px) {
      .more .spanCircle {
        max-width: 33px;
        max-height: 33px;
        margin-top: 18%; } }
    @media screen and (min-width: 360px) and (max-width: 383px) {
      .more .spanCircle {
        max-width: 37px;
        max-height: 37px;
        margin-top: 12.5%; } }
    @media screen and (min-width: 384px) and (max-width: 411px) {
      .more .spanCircle {
        max-width: 38px;
        max-height: 38px;
        margin-top: 15%; } }
    @media screen and (min-width: 412px) and (max-width: 512px) {
      .more .spanCircle {
        max-width: 40px;
        max-height: 40px;
        margin-top: 12%; } }

.leftBorder {
  border-right: 1px solid #FFFFFF; }

#airlineLogo {
  text-align: center;
  font-size: 21px;
  max-width: 320px;
  max-height: 110px;
  line-height: 110px;
  margin-left: 3%; }

#airlineLogo + img {
  max-width: 75px; }

#british-airways-contact {
  max-width: 250px;
  float: right;
  max-height: 105px;
  margin-top: 1.5%; }
  @media screen and (min-width: 600px) and (max-width: 650px) {
    #british-airways-contact {
      margin-left: 14%; } }
  #british-airways-contact p {
    margin-top: 3%;
    font-size: 14px;
    color: #000000; }
    @media screen and (max-width: 384px) {
      #british-airways-contact p {
        font-size: 11px; } }

@media screen and (max-width: 799px) {
  #british-airways-details {
    display: none; } }

