﻿@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

@mixin widthHeight {
    height: 100%;
    width: 100%;
}

$white: #FFFFFF;
$black: #000000;
$ubu: Ubuntu;
$main-font: 16px;
$main-width: 250px;

.flightDetails,
#flightDetailsTop,
#flightInformation,
#flight-route-details,
.flightRoute,
#flightDetailsBottom,
#origin-town>img,
#destination-town>img,
.flying-plane,
.more,
.more .spanCircle,
#british-airways-details>img,
#airlineLogo,
#british-airways-contact {
	@include widthHeight;
}
.flightDetails,
#flightDetailsTop,
#flightInformation,
#flight-route-details,
#flightDetailsBottom {
	max-width: 600px;
    @media screen and (max-width: 360px) { 
		max-width: $main-width + 35px;
	}
    @media screen and (min-width: 360px) and (max-width: 384px) { 
		max-width: $main-width + 50px;
	}
    @media screen and (min-width: 384px) and (max-width: 434px) {
		max-width: 325px;
	}
    @media screen and (min-width: 435px) and (max-width: 512px) {
		max-width: 370px;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) {
		max-width: 425px;
	}
    @media screen and (min-width: 600px) and (max-width: 650px) {
		max-width: 470px;
	}
}
.flightDetails {
	background: $white;
	position: fixed;
	margin: 2% auto;
    left: 0;
    right: 0;
	z-index: 1;
    opacity: 1;
	max-height: 580px;
	font-family: $ubu;
	border: 1px solid #D1C4E9;
    @media screen and (max-width: 360px) { 
		max-height: 335px;
	}
    @media screen and (max-width: 511px) { 
		margin: 15% auto;
	}
    @media screen and (min-width: 360px) and (max-width: 411px) {
		max-height: 348px;
	}
    @media screen and (min-width: 384px) and (max-width: 411px) {
        max-height: 377px;
	}
    @media screen and (min-width: 412px) and (max-width: 511px) {
        max-height: 395px;
	}
    @media screen and (min-width: 414px) and (max-width: 415px) {
        max-height: 397px;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) {
		max-height: 390px;
	}
    @media screen and (min-width: 512px) and (max-width: 600px) {
        margin: 13% auto;
	}
    @media screen and (min-width: 540px) and (max-width: 550px) {
        max-height: 395px;
	}
    @media screen and (min-width: 600px) and (max-width: 650px) {
		max-height: 410px;
	}
    @media screen and (min-width: 601px) and (max-width: 799px) {
        margin: 10% auto;
	}
    @media screen and (min-width: 651px) and (max-width: 719px) {
        max-height: 456px;
	}
    @media screen and (min-width: 720px) and (max-width: 799px) {
		max-height: 450px;
	}
	@media screen and (min-width: 768px) and (max-width: 799px) {
        max-height: 434px;
    }
    @media screen and (min-width: 800px) and (max-width: 1023px) {
        max-height: 560px;
    }
    @media screen and (min-width: 980px) and (max-width: 1023px) {
        max-height: 565px;
    }
	@media screen and (min-width: 1600px)  {
		max-height: 600px;
    }
    .town-name {
        text-align: center;
        font: {
			size: $main-font + 4px;
			style: italic;
		}
        @media screen and (max-width: 383px) {
		    font-size: $main-font - 2px;
	    }
        @media screen and (min-width: 384px) and (max-width: 411px) {
		    font-size: $main-font - 1px;
        }
        @media screen and (min-width: 412px) and (max-width: 512px) {
		    font-size: $main-font;
	    }
        @media screen and (min-width: 512px) and (max-width: 650px) {
		    font-size: $main-font + 1px;
	    }
    }
    .airport-town-name {
        text-align: center;
		padding-top: 10px;
        font:{
            size: $main-font + 8px;
	        weight: bold;
        }
        @media screen and (max-width: 359px) { 
		    font-size: $main-font;
	    }
        @media screen and (min-width: 360px) and (max-width: 383px) { 
		    font-size: $main-font + 1px;
	    }
        @media screen and (min-width: 384px) and (max-width: 411px) {
            font-size: $main-font + 2px;
        }
        @media screen and (min-width: 412px) and (max-width: 434px) {
		    font-size: $main-font + 3px;
	    }
        @media screen and (min-width: 435px) and (max-width: 511px) {
		    font-size: $main-font + 6px;
	    }
        @media screen and (min-width: 512px) and (max-width: 650px) {
		    font-size: $main-font + 2px;
	    }
    }
}
#flightDetailsTop>.flightDetailsTopRight,
#destination-town {
	float: right;
}
#flightDetailsTop>.flightDetailsTopLeft,
#origin-town,
.more,
#british-airways-details>img,
#british-airways-contact,
#airlineLogo {
	float: left;
}
#flightDetailsTop>.flightDetailsTopLeft,
#flightDetailsTop>.flightDetailsTopRight,
.flightStatusInformation,
.more span,
.more p {
	color: $white;
}
#flightDetailsTop {
	background: #522981;
	max-height: 30px;
	line-height: 30px;
    .flightDetailsTopLeft {
	    font: {
            size: $main-font + 4px;
	        weight: bold;
        }
	    text-indent: 5px;
        @media screen and (max-width: 383px) {
		    font-size: $main-font - 5px;
	    }
        @media screen and (min-width: 384px) and (max-width: 411px) {
            font-size: $main-font - 3px;
        }
        @media screen and (min-width: 412px) and (max-width: 434px) {
		    font-size: $main-font - 1px;
	    }
        @media screen and (min-width: 435px) and (max-width: 512px) {
		    font-size: $main-font;
	    }
    }  
    .flightDetailsTopRight {
	    font-size: $main-font - 2px;
	    margin-right: 10px;
        @media screen and (max-width: 359px) {
            font-size: $main-font - 6px;
		    margin-left: 4px;
	    }
        @media screen and (min-width: 360px) and (max-width: 411px) {
		    font-size: $main-font - 4px;
	    }
        @media screen and (min-width: 384px) and (max-width: 411px) {
            margin-right: 5px;
        }
        @media screen and (min-width: 412px) and (max-width: 512px) {
		    font-size: $main-font - 3px;
		    margin-right: 6px;
	    }
    }
}
#flightInformation {
	max-height: 85px;
	background: #522981;
	margin-top: 2.5%;
    @media screen and (max-width: 383px) { 
		max-height: 60px;
	}
    @media screen and (min-width: 384px) and (max-width: 411px) { 
		margin-top: 2%;
	}
    @media screen and (min-width: 384px) and (max-width: 650px) {
		max-height: 75px;
	}
    .flightStatus {
	    width: 100%; 
	    max-width: $main-width*2;
	    margin: auto;
    }
}
.flightStatusTitles,
.flightStatusInformation {
	float: left;
}
.flightStatusTitles {
	color: #C5ADE9;
	font-size: $main-font + 2px;
	margin: 1.75% 0% 0% 13.5%;
    @media screen and (max-width: 360px) { 
		margin: 3.5% 0% 0% 12%;
	}
    @media screen and (max-width: 374px) {
		font-size: $main-font - 5px;
	}
    @media screen and (min-width: 375px) and (max-width: 383px) {
		margin: 3.5% 0% 0% 10%;
		font-size: $main-font - 3px;
	}
    @media screen and (min-width: 384px) and (max-width: 433px) {
		margin: 3.5% 0% 0% 9%;
	}
    @media screen and (min-width: 384px) and (max-width: 650px) {
		font-size: $main-font - 1px;
	}
    @media screen and (min-width: 434px) and (max-width: 511px) {
		margin: 2.5% 0% 0% 10.5%;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) {
		margin: 3% 0% 0% 12.5%;
	}
    @media screen and (min-width: 600px) and (max-width: 650px) {
		margin: 3% 0% 0% 14.5%;
	}
}
.flightStatusInformation {
	font-size: $main-font + 2px;
	margin: 1.75% 0% 0% 13%;
    @media screen and (max-width: 359px) { 
		margin: 4% 0% 0% 9%;
	}
    @media screen and (min-width: 360px) and (max-width: 374px) { 
		margin: 4% 0% 0% 8%;
	}
    @media screen and (max-width: 384px) {
		font-size: $main-font - 4px;
	}
    @media screen and (min-width: 375px) and (max-width: 383px) {
		margin: 2.75% 0% 0% 9.5%;
		font-size: $main-font - 4px;
	}
    @media screen and (min-width: 384px) and (max-width: 512px) {
		font-size: $main-font - 2px;
	}
    @media screen and (min-width: 384px) and (max-width: 433px) {
		margin: 4% 0% 0% 8%;
	}
    @media screen and (min-width: 434px) and (max-width: 511px) {
		margin: 4% 0% 0% 11%;
    }
    @media screen and (min-width: 512px) and (max-width: 599px) {
		margin: 2% 0% 0% 10%;
    }
    @media screen and (min-width: 512px) and (max-width: 650px) {
		font-size: $main-font;
	}
    @media screen and (min-width: 900px) and (max-width: 1300px) {
		margin: 2% 0% 0% 13.5%;
	}
}
.terminalNumber {
    margin-left: 14%;
    @media screen and (max-width: 359px) { 
		margin-left: 13%;
	}
    @media screen and (min-width: 384px) and (max-width: 412px) {
		margin-left: 12%;
	}
    @media screen and (min-width: 413px) and (max-width: 433px) {
		margin-left: 11%;
	}
    @media screen and (min-width: 434px) and (max-width: 550px) {
		margin-left: 13%;
    }
    @media screen and (min-width: 600px) and (max-width: 639px) {
		margin-left: 15%;
    }
    @media screen and (min-width: 640px) and (max-width: 650px) {
        margin-left: 15%;
	}
}
.scheduledTime {
	margin-left: 19%;
    @media screen and (max-width: 359px) {
		margin-left: 17.5%;
	}
    @media screen and (min-width: 360px) and (max-width: 412px) {
		margin-left: 18%;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) {
		margin-left: 18.5%;
	}
    @media screen and (min-width: 540px) and (max-width: 550px) {
        margin-left: 18%;
	}
    @media screen and (min-width: 600px) and (max-width: 800px) {
		margin-left: 19%;
	}
    @media screen and (min-width: 1280px) and (max-width: 1300px) {
		margin-left: 19%;
	}
}
#flight-route-details {
	max-height: 50px;
	margin-top: 5%;
    @media screen and (min-width: 384px) and (max-width: 411px) {
        margin-top: 1.5%;
        max-height: 75px;
    }
    @media screen and (min-width: 512px) and (max-width: 599px) {
		margin-top: 2.5%;
	}
    @media screen and (min-width: 768px) and (max-width: 799px) {
        margin-top: 2%;
    }
    @media screen and (min-width: 800px) and (max-width: 1080px) {
        margin-top: 2.75%;
    }
}
#origin-town,
#destination-town {
	font-size: $main-font - 1px;
	margin: 1.5% 2%;
    @media screen and (max-width: 383px) {
		font-size: $main-font - 5px;
	}
    @media screen and (min-width: 384px) and (max-width: 411px) {
        font-size: $main-font - 3px;
    }
    @media screen and (min-width: 412px) and (max-width: 511px) {
		font-size: $main-font - 2px;
	}
    @media screen and (min-width: 512px) and (max-width: 650px) {
		font-size: $main-font;
	}
}    
#origin-town>img,
#destination-town>img {
	position: relative;
	width: 40px;
	height: 30px;
    @media screen and (max-width: 411px) {
        width: 33px;
	}
    @media screen and (max-width: 383px) {
        height: 25px;
	}
    @media screen and (min-width: 384px) and (max-width: 410px) {
        height: 28px;
    }
}
.flightDuration {
	margin-top: 2%;
	font: {
        size: $main-font - 1px;
	    weight: bold;
    }
    @media screen and (max-width: 383px) {
		font-size: $main-font - 4px;
	}
    @media screen and (min-width: 384px) and (max-width: 410px) {
        font-size: $main-font - 3px;
    }
}
.flightRoute {
	max-width: 475px;
	max-height: 2px;
	background: $black;
	margin: auto;
    @media screen and (max-width: 359px) { 
        max-width: $main-width - 50px;
	}
    @media screen and (min-width: 360px) and (max-width: 383px) { 
        max-width: $main-width;  
	}
    @media screen and (min-width: 384px) and (max-width: 411px) {
        max-width: $main-width + 15px;
	}
    @media screen and (min-width: 412px) and (max-width: 434px) {
        max-width: $main-width + 30px;
	}
    @media screen and (min-width: 435px) and (max-width: 511px) {
        max-width: $main-width + 50px;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) {
        max-width: 355px;
	}
    @media screen and (min-width: 600px) and (max-width: 650px) {
        max-width: 400px;
	}
}
.flying-plane {
    position: relative;
    left: 22%;
    margin-top: 2.5%;
    max-width: 125px;
    max-height: 40px;
    @media screen and (max-width: 411px) {
        max-width: 70px;
        max-height: 20px;
        left: 11%;
	}
    @media screen and (min-width: 412px) and (max-width: 511px) {
        max-width: 80px;
        max-height: 25px;
        left: 8%;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) {
        max-width: 85px;
        max-height: 33px;
	}
    @media screen and (min-width: 512px) and (max-width: 600px) {
        left: 13%;
	}
    @media screen and (min-width: 601px) and (max-width: 650px) {
        left: 13%;
	}
    @media screen and (min-width: 651px) and (max-width: 695px) {
        left: 19%;
	}
}
#flightDetailsBottom {
	max-height: 85px;
	background: #522981;
	margin-top: 11%;
    @media screen and (max-width: 359px) {
		max-height: 69px;
	}
    @media screen and (min-width: 360px) and (max-width: 383px) {
		max-height: 75px;
	}
	@media screen and (min-width: 384px) and (max-width: 411px) {
		margin-top: 4.5%;
	}
    @media screen and (min-width: 412px) and (max-width: 511px) {
		margin-top: 14%;
	}
	@media screen and (min-width: 414px) and (max-width: 435px) {
		margin-top: 15%;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) {
		margin-top: 13.5%;
        max-height: 89px;
	}
    @media screen and (min-width: 600px) and (max-width: 767px) {
		margin-top: 12%;
	}
}
.more {
	max-width: 119px;
	max-height: 120px;
    @media screen and (max-width: 359px) { 
        max-width: 56px;
	}
    @media screen and (min-width: 360px) and (max-width: 383px) { 
		max-width: 59px;
	}
    @media screen and (min-width: 384px) and (max-width: 434px) { 
		max-width: 64px;  
	}
    @media screen and (min-width: 435px) and (max-width: 512px) {
		max-width: 73px;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) {
        max-width: 84px;
    }
    @media screen and (min-width: 600px) and (max-width: 650px) {
        max-width: 93px;
    }
    span {
	    font-size: $main-font*2 - 2px;
	    padding: 8px 0;
        @media screen and (max-width: 359px) { 
            font-size: $main-font + 2px;
            padding: 6px 0;
	    }
        @media screen and (min-width: 360px) and (max-width: 512px) { 
		    padding: 7px 0;
	    }
        @media screen and (min-width: 360px) and (max-width: 383px) { 
		    font-size: $main-font + 3px;
	    }
        @media screen and (min-width: 384px) and (max-width: 411px) {
            font-size: $main-font + 4px;
        }
        @media screen and (min-width: 412px) and (max-width: 512px) {
		    font-size: $main-font + 5px;
	    }
    }
    p {
	    font-size: $main-font - 3px;
	    margin-top: 5%;
        @media screen and (max-width: 384px) {
		    font-size: $main-font/2;
		    margin-top: 6%;
	    }
        @media screen and (min-width: 360px) and (max-width: 411px) { 
            font-size: $main-font - 6px;
        }
        @media screen and (min-width: 412px) and (max-width: 512px) {
		    font-size: $main-font - 5px;
	    }
        @media screen and (min-width: 435px) and (max-width: 599px) {
		    font-size: $main-font - 4px;
	    }
        @media screen and (min-width: 512px) and (max-width: 599px) {
		    margin-top: 1.5%;
	    }
        @media screen and (min-width: 600px) and (max-width: 650px) {
		    margin-top: 5%;
		    font-size: $main-font - 5px;
	    }
    }
    .spanCircle {
	    max-width: 50px;
	    max-height: 50px;
	    border-radius: 100%;
	    border: 1px solid $white;
	    margin-top: 7%;
	    text-align: center;
        &:hover {
	        cursor: pointer;
        }
        @media screen and (max-width: 359px) { 
            max-width: 33px;
            max-height: 33px;
            margin-top: 18%;
	    }   
        @media screen and (min-width: 360px) and (max-width: 383px) { 
		    max-width: 37px;
		    max-height: 37px;
		    margin-top: 12.5%;
	    }
        @media screen and (min-width: 384px) and (max-width: 411px) {
		    max-width: 38px;
		    max-height: 38px;
		    margin-top: 15%;
	    }
        @media screen and (min-width: 412px) and (max-width: 512px) {
		    max-width: 40px;
		    max-height: 40px;
		    margin-top: 12%;
	    }
    }
}
.leftBorder {
	border-right: 1px solid $white;
}
#airlineLogo {
    text-align: center;
    font-size: 21px;
    max-width: $main-width + 70px;
    max-height: 110px;
    line-height: 110px;
    margin-left: 3%;
}
#airlineLogo + img {
	max-width: 75px;
}
#british-airways-contact {
	max-width: $main-width;
    float: right;
	max-height: 105px;
	margin-top: 1.5%;
    @media screen and (min-width: 600px) and (max-width: 650px) {
		margin-left: 14%;
	}
    p {
	    margin-top: 3%;
	    font-size: $main-font - 2px;
	    color: $black;
        @media screen and (max-width: 384px) {
		    font-size: $main-font - 5px;
	    }
    }
}
#british-airways-details {
    @media screen and (max-width: 799px) {
		display: none;
	}
}