﻿@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0;
  padding: 0;
  background: url("../../Images/LondonAirport/background.jpg") no-repeat fixed;
  background-size: cover; }

#topSection,
.logo,
.languageImages,
#weather,
.socialIconsSection,
.navProperties,
#airport-expansion-picture img,
.airportGuide img,
.listHeathrowBottom > li img,
footer,
#footerAddress {
  height: 100%;
  width: 100%; }

#buttonNavbar {
  height: 100%; }

header,
.header-container,
#topSection,
.logo,
#language-menu,
.languageList,
.search-data,
section,
#leftSide-section,
#rightSide-section,
#airport-expansion-picture img,
#airportParking-whichTerminal,
#rightSide-bottomSection,
#weather,
.listHeathrow,
.listHeathrowBottom,
.airportGuide img,
.listHeathrowBottom > li img,
.airportParking,
.navProperties,
.iconsSectionContainer,
.iconsSection,
.socialIconsSection,
#footerInformation,
#footerAddress {
  width: 100%; }

#topSection {
  min-height: 70px; }
  @media screen and (max-width: 411px) {
    #topSection {
      min-height: 50px; } }

.navProperties,
.logo {
  min-height: 60px; }

.logo {
  max-width: 60px;
  margin: 0.5% 0%; }
  @media screen and (max-width: 411px) {
    .logo {
      max-width: 45px;
      min-height: 45px;
      margin: 0.5% 0% 0% 0.85%; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    .logo {
      margin-top: 1%; } }
  @media screen and (min-width: 512px) and (max-width: 600px) {
    .logo {
      margin-top: 1.1%; } }

.heathrowAirport {
  margin: 0.5% 0% 0.5% 0.35%; }
  @media screen and (max-width: 359px) {
    .heathrowAirport {
      max-width: 140px; } }
  @media screen and (min-width: 360px) and (max-width: 414px) {
    .heathrowAirport {
      max-width: 170px; } }

.footerText,
.facebookIcon,
.twitterIcon,
.instagramIcon,
.rssIcon,
.youtubeIcon,
.searchButton,
.ticketsButton,
.listHeathrow-lists a,
.footerExtraInformationTitle a,
#footerInformation > p,
#footerInformation > p a,
#footerAddress .londonHeathrowLimited,
#footerAddress .address,
.telephone,
.footerExtraInformation ul li a {
  color: #FFFFFF; }

.iconsSectionContainer,
#language-menu,
.search-data,
.listArrow,
.whichTerminal {
  float: right; }

#language-menu > a,
.searchButton,
.ticketsButton,
.listHeathrow,
.form-travel-details > p,
.heathrowExpress + img + p,
.listHeathrow-lists a,
.listHeathrowBottom,
.footerExtraInformationTitle a,
#footerInformation > p,
#footerAddress .londonHeathrowLimited,
#footerAddress .address {
  font-family: Raleway; }

#weather,
.telephone {
  font-family: Ubuntu; }

@media screen and (min-width: 768px) and (max-width: 900px) {
  .telephone {
    font-size: 16px; } }

.navigationButtons,
#footerInformation > p,
#footerAddress .address {
  font-size: 16px; }

#language-menu > a,
#weather,
.listHeathrow-lists ~ li > a,
#rightSide-bottomSection > .heathrowRightSide > .blackText a {
  color: #000000; }

.iconsSection,
.socialIconsSection,
#leftSide-section,
.formGroupAirport,
#rightSide-section,
.heathrowRightSide,
#iconsSectionContainerFooter,
#footerInformation,
#footerInformation > p,
#footerAddress,
.footerExtraInformation {
  float: left; }

#airportParking-whichTerminal,
#rightSide-bottomSection,
.heathrowRightSide,
footer {
  overflow: hidden; }

.navigationButtons,
.form-travel-details > p,
.heathrowExpress + img + p,
.listHeathrow-lists,
.footerExtraInformationTitle a,
#footerAddress .londonHeathrowLimited {
  font-weight: bold; }

.heathrowExpress img {
  margin-top: 0; }

footer,
#iconsSectionContainerFooter {
  clear: both; }

.iconsSectionContainer {
  max-width: 240px; }

.iconsSection {
  max-width: 235px; }
  @media screen and (max-width: 767px) {
    .iconsSection {
      max-width: 180px; } }

.socialIconsSection {
  min-height: 33px;
  max-width: 33px;
  padding-top: 7px;
  border-radius: 100%;
  transition: background 0.3s;
  margin: 8px 0 0 7px; }
  @media screen and (max-width: 767px) {
    .socialIconsSection {
      min-height: 25px;
      max-width: 25px;
      padding-top: 3px; } }

.topIconsSection {
  margin-top: 1%;
  padding-left: 3%; }
  @media screen and (max-width: 900px) {
    .topIconsSection {
      display: none; } }

.facebookColor:hover,
.twitterColor:hover,
.youtubeColor:hover,
.instagramIcon:hover,
.rssIcon:hover {
  cursor: pointer; }

.facebookColor {
  background: #3C5B9B; }

.twitterColor {
  background: #2DAAE1; }

.youtubeColor {
  background: #CF3427; }

.instagramColor {
  background: #795548; }

.rssColor {
  background: #FF5722; }

.facebookIcon,
.twitterIcon,
.youtubeIcon,
.instagramIcon,
.rssIcon {
  font-size: 20px !important; }

.languageList {
  margin: 0% !important;
  min-width: 100px !important; }
  @media screen and (max-width: 360px) {
    .languageList {
      font-size: 13px !important;
      max-width: 85px !important; } }
  .languageList li > a {
    padding: 3px 13px !important; }
    @media screen and (max-width: 360px) {
      .languageList li > a {
        padding: 3px 7px !important; } }

.search-data {
  margin-top: 1.5%;
  max-width: 240px; }
  @media screen and (max-width: 639px) {
    .search-data {
      display: none; } }
  @media screen and (min-width: 640px) and (max-width: 640px) {
    .search-data {
      max-width: 225px; } }
  .search-data input {
    max-width: 60%; }
    @media screen and (min-width: 640px) and (max-width: 720px) {
      .search-data input {
        max-width: 53%; } }
  @media screen and (max-width: 359px) {
    .search-data {
      max-width: 155px;
      margin-top: 2.65%; } }
  @media screen and (min-width: 360px) and (max-width: 384px) {
    .search-data {
      max-width: 175px;
      margin-top: 1.9%; } }
  @media screen and (min-width: 360px) and (max-width: 411px) {
    .search-data {
      max-width: 170px; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    .search-data {
      margin-top: 4%; } }
  @media screen and (min-width: 412px) and (max-width: 600px) {
    .search-data {
      max-width: 220px; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .search-data {
      margin-top: 3.35%; } }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    .search-data {
      margin-top: 2.75%; } }
  @media screen and (min-width: 768px) and (max-width: 900px) {
    .search-data {
      margin-top: 2.5%; } }

#language-menu > a,
.form-travel-details > p,
.heathrowExpress + img + p {
  font-size: 15px; }

#language-menu {
  border-radius: 5px;
  padding: 3px;
  background: #FFFFFF;
  background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
  border-color: #CCCCCC #CCCCCC #CCCCCC;
  max-width: 100px;
  margin-top: 1.7% !important; }
  @media screen and (max-width: 360px) {
    #language-menu {
      max-width: 85px; } }
  @media screen and (max-width: 411px) {
    #language-menu {
      margin-top: 3% !important; } }
  @media screen and (min-width: 412px) and (max-width: 511px) {
    #language-menu {
      margin-top: 4.85% !important; } }
  @media screen and (min-width: 512px) and (max-width: 640px) {
    #language-menu {
      margin-top: 4% !important; } }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    #language-menu {
      margin-top: 3.3% !important; } }
  @media screen and (max-width: 767px) {
    #language-menu {
      margin-right: 2%; } }
  @media screen and (min-width: 768px) and (max-width: 900px) {
    #language-menu {
      margin-top: 2.9% !important;
      margin-right: 2%; } }
  @media screen and (max-width: 360px) {
    #language-menu a {
      font-size: 13px; } }

#language-menu > a,
.listHeathrow-lists a,
.footerExtraInformationTitle a {
  text-decoration: none; }

.languageImages {
  max-width: 15px;
  min-height: 10px;
  position: relative;
  top: -1px; }

@media screen and (min-width: 360px) and (max-width: 411px) {
  #language-menu,
  .languageList {
    max-width: 100px; } }

.searchButton,
.search-data > input {
  border-radius: 0%; }

.searchButton,
.ticketsButton,
.listHeathrow-lists,
footer {
  background: #522981; }

header,
.header-container,
main,
#topSection,
section,
.navProperties,
#airport-expansion-picture img,
footer {
  max-width: 1150px;
  margin: auto; }

@media screen and (max-width: 767px) {
  .navProperties li {
    padding-left: 3%; } }

.navProperties li a {
  color: #522981 !important;
  line-height: 60px !important;
  padding: 0 !important; }

#navbarCollapse {
  padding: 0; }
  @media screen and (max-width: 767px) {
    #navbarCollapse {
      overflow-y: visible;
      position: absolute;
      z-index: 1;
      width: 100%; } }

#buttonNavbar {
  font-family: Arial;
  background: #FFFFFF !important;
  min-height: 60px !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  border: 0 !important; }

@media screen and (max-width: 359px) {
  .navbarToggleButton {
    margin: 3.75% 4% 0% 0% !important; } }

@media screen and (min-width: 360px) and (max-width: 383px) {
  .navbarToggleButton {
    margin: 3.5% 5% 0% 0% !important; } }

@media screen and (min-width: 384px) and (max-width: 411px) {
  .navbarToggleButton {
    margin: 3.3% 4% 0% 0% !important; } }

@media screen and (max-width: 411px) {
  .navbarToggleButton {
    margin-top: 12px; } }

@media screen and (min-width: 412px) and (max-width: 511px) {
  .navbarToggleButton {
    margin: 2.8% 4% 0% 0% !important; } }

@media screen and (min-width: 512px) and (max-width: 599px) {
  .navbarToggleButton {
    margin: 2.3% 2% 0% 0% !important; } }

@media screen and (min-width: 600px) and (max-width: 640px) {
  .navbarToggleButton {
    margin: 2.3% 3% 0% 0% !important; } }

@media screen and (min-width: 641px) and (max-width: 710px) {
  .navbarToggleButton {
    margin: 2% 5% 0% 0% !important; } }

@media screen and (min-width: 711px) and (max-width: 767px) {
  .navbarToggleButton {
    margin: 1.75% 2.5% 0% 0% !important; } }

.navigationButtons {
  margin-left: 3.65%; }
  @media screen and (max-width: 767px) {
    .navigationButtons {
      position: relative;
      background: #FFFFFF;
      z-index: 2;
      margin-left: 0%; } }
  @media screen and (min-width: 768px) and (max-width: 799px) {
    .navigationButtons {
      margin-left: 1.55%; } }
  @media screen and (min-width: 768px) and (max-width: 850px) {
    .navigationButtons {
      font-size: 13px; } }
  @media screen and (min-width: 800px) and (max-width: 850px) {
    .navigationButtons {
      margin-left: 1.85%; } }
  @media screen and (min-width: 851px) and (max-width: 899px) {
    .navigationButtons {
      margin-left: 1.55%;
      font-size: 14px; } }
  @media screen and (min-width: 900px) and (max-width: 979px) {
    .navigationButtons {
      margin-left: 1.85%; } }
  @media screen and (min-width: 900px) and (max-width: 959px) {
    .navigationButtons {
      font-size: 15px; } }
  @media screen and (min-width: 980px) and (max-width: 1023px) {
    .navigationButtons {
      margin-left: 2%; } }
  @media screen and (min-width: 1024px) and (max-width: 1050px) {
    .navigationButtons {
      margin-left: 2.45%; } }
  @media screen and (min-width: 1051px) and (max-width: 1079px) {
    .navigationButtons {
      margin-left: 2.9%; } }
  @media screen and (min-width: 1080px) and (max-width: 1109px) {
    .navigationButtons {
      margin-left: 3%; } }
  @media screen and (min-width: 1110px) and (max-width: 1150px) {
    .navigationButtons {
      margin-left: 3.25%; } }

@media screen and (max-width: 767px) {
  .navigationButtons.shop-services {
    border-bottom: 1px solid #DDD; } }

.arrivalsPlane {
  transform: rotate(180deg);
  transform: -webkit-rotate(180deg);
  transform: -moz-rotate(180deg);
  transform: -o-rotate(180deg);
  transform: -ms-rotate(180deg); }

#leftSide-section {
  max-width: 300px;
  margin-top: 3%; }
  @media screen and (max-width: 900px) {
    #leftSide-section {
      margin: 6% auto 0%; } }
  @media screen and (max-width: 1150px) {
    #leftSide-section {
      float: none; } }
  @media screen and (min-width: 1151px) and (max-width: 1167px) {
    #leftSide-section {
      max-width: 275px; } }
  @media screen and (min-width: 900px) and (max-width: 1150px) {
    #leftSide-section {
      max-width: 850px;
      margin: auto; } }
  @media screen and (min-width: 1280px) and (max-width: 1300px) {
    #leftSide-section {
      max-width: 280px;
      padding-left: 1%; } }
  @media screen and (max-width: 899px) {
    #leftSide-section .listHeathrow {
      margin-top: 6%; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    #leftSide-section .listHeathrow {
      max-width: 250px; } }
  @media screen and (min-width: 900px) and (max-width: 1150px) {
    #leftSide-section .listHeathrow {
      margin: 0% 0% 0% 5%; } }

#weather {
  min-height: 160px;
  border: 1px solid #000000;
  margin: 0;
  background: url("../../Images/LondonAirport/weather.jpg") no-repeat scroll;
  background-position: left center; }
  #weather h4 > span {
    font-size: 20px;
    top: 4px; }
  @media screen and (max-width: 899px) {
    #weather {
      margin: auto;
      float: none; } }
  @media screen and (min-width: 900px) and (max-width: 1150px) {
    #weather {
      float: left; } }

@media screen and (max-width: 899px) {
  #rightSide-section,
  .listHeathrow,
  .heathrowRightSide {
    margin: auto;
    float: none; } }

@media screen and (min-width: 1024px) and (max-width: 1150px) {
  #rightSide-section {
    margin: auto;
    float: none; } }

@media screen and (max-width: 1149px) {
  #heathrow-express {
    margin-bottom: 3%; } }

@media screen and (min-width: 384px) and (max-width: 411px) {
  .heathrowRightSide,
  .listHeathrow {
    max-width: 270px; } }

@media screen and (min-width: 412px) and (max-width: 512px) {
  .heathrowRightSide,
  .listHeathrow {
    max-width: 250px; } }

#weather > h2 img,
#weather > h4 span {
  position: relative; }

.listHeathrow {
  margin-top: 11%; }
  @media screen and (min-width: 900px) and (max-width: 1150px) {
    .listHeathrow {
      float: left; } }
  @media screen and (min-width: 1024px) and (max-width: 1150px) {
    .listHeathrow {
      margin-top: 2%; } }

#weather,
.listHeathrow,
.listHeathrowBottom,
.airportGuide img,
.airportGuide,
.listHeathrowBottom > li img {
  max-width: 250px; }

.listHeathrow,
.list-group-item:first-child {
  border-radius: 0%; }

.listHeathrow > li {
  border-radius: 0% !important; }

.form-travel-details {
  width: 380px; }
  .form-travel-details button {
    margin-bottom: 10px; }
  .form-travel-details .formGroupAirport {
    margin-left: 15px;
    margin-right: 0;
    width: 46%; }
    @media screen and (max-width: 384px) {
      .form-travel-details .formGroupAirport {
        margin-left: 7px; } }
    @media screen and (min-width: 360px) and (max-width: 411px) {
      .form-travel-details .formGroupAirport {
        width: 43%; } }
    @media screen and (min-width: 412px) and (max-width: 433px) {
      .form-travel-details .formGroupAirport {
        margin-left: 10px;
        width: 44.5%; } }
    @media screen and (min-width: 434px) and (max-width: 599px) {
      .form-travel-details .formGroupAirport {
        width: 42%; } }
  @media screen and (max-width: 360px) {
    .form-travel-details {
      max-width: 300px; } }
  .form-travel-details p {
    margin: 8px; }

@media screen and (min-width: 360px) and (max-width: 411px) {
  .form-travel-details,
  .buttonParking,
  #footerInformation > p {
    margin-left: 3%; } }

.heathrowExpress img {
  margin-top: 0; }
  .heathrowExpress img p {
    margin: 8px; }

.buttonParking {
  margin: 6.5% 0% 0% 4%; }
  @media screen and (max-width: 360px) {
    .buttonParking {
      margin-left: 2%; } }
  @media screen and (max-width: 384px) {
    .buttonParking {
      margin-top: 9%; } }
  @media screen and (min-width: 384px) and (max-width: 411px) {
    .buttonParking {
      margin-top: 9.25%; } }
  @media screen and (min-width: 412px) and (max-width: 600px) {
    .buttonParking {
      margin-top: 8.3%; } }
  @media screen and (min-width: 451px) and (max-width: 480px) {
    .buttonParking {
      margin-top: 7.85%; } }
  @media screen and (min-width: 512px) and (max-width: 599px) {
    .buttonParking {
      margin-top: 7.95%; } }
  @media screen and (min-width: 600px) and (max-width: 699px) {
    .buttonParking {
      margin-top: 6.4%; } }

.rightSideImages {
  padding: 0 !important; }

@media screen and (min-width: 900px) and (max-width: 1024px) {
  #rightSide-section {
    margin: auto;
    float: none; } }

.listHeathrow-lists {
  padding-left: 10px; }
  .listHeathrow-lists a {
    cursor: text; }

#rightSide-section,
#airportParking-whichTerminal,
#rightSide-bottomSection {
  max-width: 850px; }

@media screen and (min-width: 900px) and (max-width: 1150px) {
  #airport-expansion-picture {
    margin-bottom: 4%; } }

#airport-expansion-picture img {
  min-height: 450px; }
  @media screen and (max-width: 899px) {
    #airport-expansion-picture img {
      display: none; } }
  @media screen and (min-width: 900px) and (max-width: 960px) {
    #airport-expansion-picture img {
      min-height: 380px; } }
  @media screen and (min-width: 960px) and (max-width: 1024px) {
    #airport-expansion-picture img {
      min-height: 400px; } }

.topBorder {
  border-top: 0; }

.heathrowRightSide {
  margin: 4% auto 0%; }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .heathrowRightSide {
      max-width: 250px; } }

@media screen and (max-width: 384px) {
  .heathrowRightSide,
  .listHeathrow,
  .form-travel-details {
    width: 285px; } }

.whichTerminal,
.listHeathrowBottom {
  margin-left: 5.75%; }

@media screen and (min-width: 901px) and (max-width: 1150px) {
  .whichTerminal {
    margin-left: 3.5%; } }

@media screen and (max-width: 899px) {
  .whichTerminal,
  .listHeathrowBottom,
  .airportGuide {
    margin: 4% auto 0%; } }

@media screen and (min-width: 360px) and (max-width: 600px) {
  .airportGuide {
    max-width: 250px; } }

@media screen and (min-width: 960px) and (max-width: 1080px) {
  .airportGuide {
    margin-left: 3%; } }

@media screen and (min-width: 1080px) and (max-width: 1150px) {
  .airportGuide {
    margin: 2% 0% 0% 3%; } }

.airportGuide img {
  min-height: 130px; }
  @media screen and (min-width: 360px) and (max-width: 512px) {
    .airportGuide img {
      max-width: 250px; } }
  @media screen and (min-width: 412px) and (max-width: 767px) {
    .airportGuide img {
      width: 100%; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .airportGuide img {
      max-width: 400px; } }

@media screen and (min-width: 960px) and (max-width: 1079px) {
  .listHeathrowBottom {
    margin-left: 3%; } }

@media screen and (min-width: 1080px) and (max-width: 1150px) {
  .listHeathrowBottom {
    margin: 2% 0% 0% 3%; } }

.listHeathrowBottom > li img {
  min-height: 130px; }
  @media screen and (min-width: 412px) and (max-width: 767px) {
    .listHeathrowBottom > li img {
      width: 100%; } }

@media screen and (min-width: 412px) and (max-width: 512px) {
  .listHeathrowBottom > li img,
  .form-travel-details {
    max-width: 300px; } }

@media screen and (min-width: 600px) and (max-width: 900px) {
  .listHeathrowBottom > li img,
  .form-travel-details {
    max-width: 400px; } }

.airportParking {
  max-width: 400px;
  border: 1px solid #DDD;
  background: #FFFFFF; }
  @media screen and (min-width: 412px) and (max-width: 512px) {
    .airportParking {
      max-width: 300px; } }

.header-container {
  padding-left: 0 !important;
  padding-right: 0 !important; }

footer {
  min-height: 250px;
  clear: both; }

#iconsSectionContainerFooter {
  max-width: 50px;
  margin: 2% 0% 0% 3%; }
  @media screen and (min-width: 768px) and (max-width: 899px) {
    #iconsSectionContainerFooter div {
      margin-top: 16.5%; } }
  @media screen and (min-width: 900px) and (max-width: 1024px) {
    #iconsSectionContainerFooter div {
      margin-top: 18%; } }
  @media screen and (max-width: 767px) {
    #iconsSectionContainerFooter {
      max-width: 200px;
      margin: auto;
      float: none; }
      #iconsSectionContainerFooter div {
        margin-top: 3%; }
        #iconsSectionContainerFooter div span {
          font-size: 14px !important; } }
  @media screen and (min-width: 768px) and (max-width: 899px) {
    #iconsSectionContainerFooter {
      margin-left: 1.5%; } }
  @media screen and (min-width: 900px) and (max-width: 959px) {
    #iconsSectionContainerFooter {
      margin-left: 2%; } }
  @media screen and (min-width: 960px) and (max-width: 1023px) {
    #iconsSectionContainerFooter {
      margin-left: 3.5%; } }
  @media screen and (min-width: 1024px) and (max-width: 1150px) {
    #iconsSectionContainerFooter {
      margin-left: 5.5%; } }

#footerInformation {
  max-width: 975px;
  margin-left: 4%;
  border-bottom: 1px solid #FFFFFF; }
  @media screen and (max-width: 767px) {
    #footerInformation {
      margin-left: 0%; } }
  @media screen and (max-width: 799px) {
    #footerInformation {
      width: 100%; } }
  @media screen and (min-width: 768px) and (max-width: 799px) {
    #footerInformation {
      max-width: 660px;
      margin: 1.3% 0% 0% 1%; } }
  @media screen and (min-width: 768px) and (max-width: 899px) {
    #footerInformation {
      margin-left: 1.5%; } }
  @media screen and (min-width: 800px) and (max-width: 850px) {
    #footerInformation {
      max-width: 695px; } }
  @media screen and (min-width: 851px) and (max-width: 899px) {
    #footerInformation {
      max-width: 730px;
      margin-left: 1.75%; } }
  @media screen and (min-width: 900px) and (max-width: 959px) {
    #footerInformation {
      max-width: 780px; } }
  @media screen and (min-width: 900px) and (max-width: 1023px) {
    #footerInformation {
      margin-left: 2%; } }
  @media screen and (min-width: 960px) and (max-width: 1023px) {
    #footerInformation {
      max-width: 830px; } }
  @media screen and (min-width: 1024px) and (max-width: 1079px) {
    #footerInformation {
      max-width: 850px; } }
  @media screen and (min-width: 1080px) and (max-width: 1150px) {
    #footerInformation {
      max-width: 900px; } }
  @media screen and (min-width: 1024px) and (max-width: 1150px) {
    #footerInformation {
      margin-left: 2.5%; } }
  #footerInformation p {
    margin: 2.5% 0% 0% 3.5%; }
    @media screen and (max-width: 360px) {
      #footerInformation p {
        margin-left: 2%; } }
    @media screen and (max-width: 383px) {
      #footerInformation p {
        font-size: 10px;
        margin-top: 2%; } }
    @media screen and (min-width: 384px) and (max-width: 411px) {
      #footerInformation p {
        font-size: 11px; } }
    @media screen and (min-width: 412px) and (max-width: 450px) {
      #footerInformation p {
        margin-top: 1.65%; } }
    @media screen and (min-width: 412px) and (max-width: 640px) {
      #footerInformation p {
        font-size: 12px; } }
    @media screen and (min-width: 451px) and (max-width: 480px) {
      #footerInformation p {
        margin-top: 1.6%; } }
    @media screen and (min-width: 481px) and (max-width: 540px) {
      #footerInformation p {
        margin: 2% 0% 0% 3%; } }
    @media screen and (min-width: 541px) and (max-width: 599px) {
      #footerInformation p {
        margin: 1.65% 0% 0% 1.8%; } }
    @media screen and (min-width: 600px) and (max-width: 639px) {
      #footerInformation p {
        margin-left: 1.6%; } }
    @media screen and (min-width: 640px) and (max-width: 680px) {
      #footerInformation p {
        margin-left: 1.65%; } }
    @media screen and (min-width: 640px) and (max-width: 710px) {
      #footerInformation p {
        font-size: 13px; } }
    @media screen and (min-width: 681px) and (max-width: 710px) {
      #footerInformation p {
        margin-left: 2.1%; } }
    @media screen and (min-width: 711px) and (max-width: 730px) {
      #footerInformation p {
        margin-left: 1.7%; } }
    @media screen and (min-width: 711px) and (max-width: 899px) {
      #footerInformation p {
        font-size: 14px; } }
    @media screen and (min-width: 731px) and (max-width: 767px) {
      #footerInformation p {
        margin-left: 2%; } }
    @media screen and (min-width: 768px) and (max-width: 799px) {
      #footerInformation p {
        margin: 1% 0% 0% 1.2%; } }
    @media screen and (min-width: 800px) and (max-width: 850px) {
      #footerInformation p {
        margin: 3% 0% 0% 1.7%; } }
    @media screen and (min-width: 851px) and (max-width: 959px) {
      #footerInformation p {
        margin-left: 1.5%; } }
    @media screen and (min-width: 900px) and (max-width: 1024px) {
      #footerInformation p {
        margin-top: 3%; } }
    @media screen and (min-width: 960px) and (max-width: 1080px) {
      #footerInformation p {
        margin-left: 2%; } }
    @media screen and (min-width: 1080px) and (max-width: 1150px) {
      #footerInformation p {
        margin-left: 2.65%; } }

.listHeathrow-lists,
.footerExtraInformationTitle a,
.telephone {
  font-size: 18px; }

#footerAddress {
  max-width: 280px;
  min-height: 150px;
  margin: 1.5% 0% 0% 6%; }
  #footerAddress .londonHeathrowLimited {
    font-size: 20px; }
  @media screen and (max-width: 767px) {
    #footerAddress {
      display: none; } }
  @media screen and (min-width: 768px) and (max-width: 900px) {
    #footerAddress {
      max-width: 220px;
      margin-left: 3.75%; }
      #footerAddress .address {
        font-size: 14px; }
      #footerAddress .londonHeathrowLimited {
        font-size: 18px; } }
  @media screen and (min-width: 900px) and (max-width: 959px) {
    #footerAddress {
      margin-left: 2.5%; } }
  @media screen and (min-width: 960px) and (max-width: 1023px) {
    #footerAddress {
      margin-left: 3.5%; } }
  @media screen and (min-width: 1024px) and (max-width: 1079px) {
    #footerAddress {
      margin-left: 4.5%; } }
  @media screen and (min-width: 1080px) and (max-width: 1150px) {
    #footerAddress {
      margin-left: 5%; } }

.footerExtraInformation {
  margin: 1.5% 0% 0% 7%; }
  @media screen and (max-width: 383px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 2%; } }
  @media screen and (min-width: 384px) and (max-width: 410px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 3.5%; } }
  @media screen and (min-width: 411px) and (max-width: 479px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 3%; } }
  @media screen and (min-width: 480px) and (max-width: 511px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 6.6%; } }
  @media screen and (min-width: 512px) and (max-width: 540px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 8.5%; } }
  @media screen and (min-width: 541px) and (max-width: 570px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 9.5%; } }
  @media screen and (min-width: 571px) and (max-width: 599px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 10.5%; } }
  @media screen and (min-width: 600px) and (max-width: 639px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 9%; } }
  @media screen and (min-width: 640px) and (max-width: 679px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 9.65%; } }
  @media screen and (min-width: 680px) and (max-width: 710px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 10.5%; } }
  @media screen and (min-width: 711px) and (max-width: 767px) {
    .footerExtraInformation {
      margin: 1% 0% 0% 11%; } }
  @media screen and (min-width: 768px) and (max-width: 799px) {
    .footerExtraInformation {
      margin-left: 1%; } }
  @media screen and (min-width: 800px) and (max-width: 899px) {
    .footerExtraInformation {
      margin-left: 3%; } }
  @media screen and (min-width: 900px) and (max-width: 959px) {
    .footerExtraInformation {
      margin-left: 2.5%; } }
  @media screen and (min-width: 960px) and (max-width: 1079px) {
    .footerExtraInformation {
      margin-left: 3.5%; } }
  @media screen and (min-width: 1080px) and (max-width: 1150px) {
    .footerExtraInformation {
      margin-left: 4%; } }
  @media screen and (min-width: 851px) and (max-width: 900px) {
    .footerExtraInformation p {
      margin: 2.5% 0% 0% 2.2%; } }
  @media screen and (max-width: 360px) {
    .footerExtraInformation ul li a {
      font-size: 11px; } }
  @media screen and (min-width: 361px) and (max-width: 384px) {
    .footerExtraInformation ul li a {
      font-size: 12px; } }
  @media screen and (min-width: 385px) and (max-width: 414px) {
    .footerExtraInformation ul li a {
      font-size: 13px; } }
  @media screen and (min-width: 415px) and (max-width: 599px) {
    .footerExtraInformation ul li a {
      font-size: 14px; } }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    .footerExtraInformation ul li a {
      font-size: 15px; } }

@media screen and (max-width: 360px) {
  .footerExtraInformationTitle {
    font-size: 11px; } }

@media screen and (min-width: 361px) and (max-width: 384px) {
  .footerExtraInformationTitle {
    font-size: 12px; } }

@media screen and (min-width: 385px) and (max-width: 414px) {
  .footerExtraInformationTitle {
    font-size: 13px; } }

@media screen and (min-width: 415px) and (max-width: 599px) {
  .footerExtraInformationTitle {
    font-size: 14px; } }

@media screen and (min-width: 600px) and (max-width: 767px) {
  .footerExtraInformationTitle {
    font-size: 15px; } }

.footerExtraInformationTitle a {
  cursor: text; }

