﻿@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import url(https://fonts.googleapis.com/css?family=Raleway);

@mixin widthHeight {
    height: 100%;
    width: 100%;
}
@mixin margin-float-group {
    margin: auto;
    float: none;
}
@mixin footer-font-responsive {
    @media screen and (max-width: 360px) {
		font-size: $main-font - 5px;
	}
    @media screen and (min-width: 361px) and (max-width: 384px) {
		font-size: $main-font - 4px;
	}
    @media screen and (min-width: 385px) and (max-width: 414px) {
		font-size: $main-font - 3px;
	}
    @media screen and (min-width: 415px) and (max-width: 599px) {
		font-size: $main-font - 2px;
	}
    @media screen and (min-width: 600px) and (max-width: 767px) {
		font-size: $main-font - 1px;
	}
}
@mixin width-sizes-group {
     @media screen and (min-width: 600px) and (max-width: 900px) { 
		max-width: 400px;
	 }
}

$white: #FFFFFF;
$black: #000000;
$maxWidth: 1150px;
$ral: Raleway;
$ubu: Ubuntu;
$main-font: 16px;
$main-width: 250px;

body {
    margin: 0;
    padding: 0;
    background: url("../../Images/LondonAirport/background.jpg") no-repeat fixed;
    background-size: cover;
}
#topSection,
.logo,
.languageImages,
#weather,
.socialIconsSection,
.navProperties,
#airport-expansion-picture img,
.airportGuide img,
.listHeathrowBottom>li img,
footer,
#footerAddress {
    @include widthHeight;
}
#buttonNavbar {
    height: 100%;
}
header,
.header-container,
#topSection,
.logo,
#language-menu,
.languageList,
.search-data,
section,
#leftSide-section,
#rightSide-section,
#airport-expansion-picture img,
#airportParking-whichTerminal,
#rightSide-bottomSection,
#weather,
.listHeathrow,
.listHeathrowBottom,
.airportGuide img,
.listHeathrowBottom>li img,
.airportParking,
.navProperties,
.iconsSectionContainer,
.iconsSection,
.socialIconsSection,
#footerInformation,
#footerAddress {
    width: 100%;
}
#topSection {
    min-height: 70px;
    @media screen and (max-width: 411px) {
        min-height: 50px;
    }
}
.navProperties,
.logo {
    min-height: 60px;
}
.logo { 
	max-width: 60px;
	margin: 0.5% 0%;
    @media screen and (max-width: 411px) {
        max-width: 45px;
        min-height: 45px;
        margin: 0.5% 0% 0% 0.85%;
    }
    @media screen and (min-width: 412px) and (max-width: 511px) { 
        margin-top: 1%;
    }
    @media screen and (min-width: 512px) and (max-width: 600px) { 
        margin-top: 1.1%;
    }
}
.heathrowAirport {
    margin: 0.5% 0% 0.5% 0.35%;
    @media screen and (max-width: 359px) { 
        max-width: 140px;
    }
    @media screen and (min-width: 360px) and (max-width: 414px) { 
        max-width: 170px;
    }
}
.footerText,
.facebookIcon,
.twitterIcon,
.instagramIcon,
.rssIcon,
.youtubeIcon,
.searchButton,
.ticketsButton,
.listHeathrow-lists a,
.footerExtraInformationTitle a,
#footerInformation>p,
#footerInformation>p a,
#footerAddress .londonHeathrowLimited,
#footerAddress .address,
.telephone,
.footerExtraInformation ul li a {
    color: $white;
}
.iconsSectionContainer,
#language-menu,
.search-data,
.listArrow,
.whichTerminal {
	float: right;
}
#language-menu>a,
.searchButton,
.ticketsButton,
.listHeathrow,
.form-travel-details>p,
.heathrowExpress + img + p,
.listHeathrow-lists a,
.listHeathrowBottom,
.footerExtraInformationTitle a,
#footerInformation>p,
#footerAddress .londonHeathrowLimited,
#footerAddress .address {
	font-family: $ral;
}
#weather,
.telephone {
	font-family: $ubu;
}
.telephone {
    @media screen and (min-width: 768px) and (max-width: 900px) {  
		font-size: $main-font;
	}
}
.navigationButtons,
#footerInformation>p,
#footerAddress .address {
	font-size: $main-font;
}
#language-menu>a,
#weather,
.listHeathrow-lists~li>a,
#rightSide-bottomSection>.heathrowRightSide>.blackText a {
	color: $black;
}
.iconsSection,
.socialIconsSection,
#leftSide-section,
.formGroupAirport,
#rightSide-section,
.heathrowRightSide,
#iconsSectionContainerFooter,
#footerInformation,
#footerInformation>p,
#footerAddress,
.footerExtraInformation {  
    float: left;
}
#airportParking-whichTerminal,
#rightSide-bottomSection,
.heathrowRightSide,
footer {
    overflow: hidden;
}
.navigationButtons,
.form-travel-details>p,
.heathrowExpress + img + p, 
.listHeathrow-lists,
.footerExtraInformationTitle a,
#footerAddress .londonHeathrowLimited {
    font-weight: bold;
}
.heathrowExpress img {
    margin-top: 0;
}
footer,
#iconsSectionContainerFooter {
    clear: both;
}
.iconsSectionContainer {
    max-width: $main-width - 10px;
}
.iconsSection {
    max-width: $main-width - 15px;
    @media screen and (max-width: 767px) {
		max-width: 180px;
	}
}
.socialIconsSection {
    min-height: 33px;
    max-width: 33px;
    padding-top: 7px;
    border-radius: 100%;
    transition: background 0.3s;
    margin: 8px 0 0 7px;
    @media screen and (max-width: 767px) {
		min-height: 25px;
		max-width: 25px;
        padding-top: 3px;
	}
}
.topIconsSection {
    margin-top: 1%;
    padding-left: 3%;
    @media screen and (max-width: 900px) {
        display: none;
    }
}
.facebookColor:hover,
.twitterColor:hover,
.youtubeColor:hover,
.instagramIcon:hover,
.rssIcon:hover {
    cursor: pointer;
}
.facebookColor {
    background: #3C5B9B;
}
.twitterColor {
    background: #2DAAE1;
}
.youtubeColor {
    background: #CF3427;
}
.instagramColor {
    background: #795548;
}
.rssColor {
    background: #FF5722;
}
.facebookIcon,
.twitterIcon,
.youtubeIcon,
.instagramIcon,
.rssIcon {
    font-size: ($main-font + 4px) !important;
}
.languageList {
	margin: 0% !important;
	min-width: 100px !important;
    @media screen and (max-width: 360px) {
		font-size: $main-font - 3px !important; 
		max-width: 85px !important;
    }
    li>a {
		padding: 3px 13px !important;
		@media screen and (max-width: 360px) { 
			padding: 3px 7px !important;
        }
    }
}
.search-data {
    margin-top: 1.5%;
    max-width: $main-width - 10px;
    @media screen and (max-width: 639px) {
        display: none;
    }
    @media screen and (min-width: 640px) and (max-width: 640px) { 
		max-width: $main-width - 25px;
    }
    input {
        max-width: 60%;
        @media screen and (min-width: 640px) and (max-width: 720px) { 
		    max-width: 53%;
        }
    }
    @media screen and (max-width: 359px) { 
        max-width: 155px;
        margin-top: 2.65%;
    }
    @media screen and (min-width: 360px) and (max-width: 384px) { 
        max-width: 175px;
        margin-top: 1.9%;
    }
    @media screen and (min-width: 360px) and (max-width: 411px) { 
        max-width: 170px;
    }
    @media screen and (min-width: 412px) and (max-width: 511px) { 
		margin-top: 4%;
    }
    @media screen and (min-width: 412px) and (max-width: 600px) { 
        max-width: $main-width - 30px;
    }
    @media screen and (min-width: 512px) and (max-width: 599px) { 
		margin-top: 3.35%;
    }
    @media screen and (min-width: 600px) and (max-width: 767px) { 
        margin-top: 2.75%;
    }
    @media screen and (min-width: 768px) and (max-width: 900px) { 
		margin-top: 2.5%;
	}
}
#language-menu>a,
.form-travel-details>p,
.heathrowExpress + img + p {
    font-size: $main-font - 1px;
}
#language-menu {
	border-radius: 5px;
	padding: 3px;
    background: $white;
    background-image: linear-gradient(to bottom, #FFFFFF, #E0E0E0);
    border-color: #CCCCCC #CCCCCC #CCCCCC;
	max-width: 100px;
    margin-top: 1.7% !important;
    @media screen and (max-width: 360px) { 
         max-width: 85px;
    }
    @media screen and (max-width: 411px) { 
		margin-top: 3% !important;
	}
    @media screen and (min-width: 412px) and (max-width: 511px) { 
		margin-top: 4.85% !important;
	}
    @media screen and (min-width: 512px) and (max-width: 640px) { 
		margin-top: 4% !important;
    }
    @media screen and (min-width: 600px) and (max-width: 767px) { 
		margin-top: 3.3% !important;
    }
    @media screen and (max-width: 767px) {
		margin-right: 2%;
	}
    @media screen and (min-width: 768px) and (max-width: 900px) {  
		margin-top: 2.9% !important;
        margin-right: 2%;
	}
    a {
       @media screen and (max-width: 360px) { 
            font-size: $main-font - 3px;
    }
  }
}
#language-menu>a,
.listHeathrow-lists a,
.footerExtraInformationTitle a {
    text-decoration: none;
}
.languageImages {
    max-width: 15px;
    min-height: 10px;
    position: relative;
    top: -1px;
}
#language-menu,
.languageList {
    @media screen and (min-width: 360px) and (max-width: 411px) { 
        max-width: 100px;
    }
}
.searchButton,
.search-data>input {
    border-radius: 0%;
}
.searchButton,
.ticketsButton,
.listHeathrow-lists,
footer {
    background: #522981;
}
header,
.header-container,
main,
#topSection,
section,
.navProperties,
#airport-expansion-picture img,
footer {
    max-width: $maxWidth;
    margin: auto;
}
.navProperties {
    li {
        @media screen and (max-width: 767px) {
            padding-left: 3%;
        }
        a {
            color: #522981 !important;
            line-height: 60px !important;
            padding: 0 !important;
        }
    }
}
#navbarCollapse {
    padding: 0;
    @media screen and (max-width: 767px) {
        overflow-y: visible;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
}
#buttonNavbar {
    font-family: Arial;
    background: $white !important;
    min-height: 60px !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
    border: 0 !important;
}
.navbarToggleButton {
    @media screen and (max-width: 359px) {
		margin: 3.75% 4% 0% 0% !important;
	}
    @media screen and (min-width: 360px) and (max-width: 383px) { 
        margin: 3.5% 5% 0% 0% !important;
	}
    @media screen and (min-width: 384px) and (max-width: 411px) { 
        margin: 3.3% 4% 0% 0% !important;
	}
    @media screen and (max-width: 411px) {
        margin-top: 12px;
    }
    @media screen and (min-width: 412px) and (max-width: 511px) { 
		margin: 2.8% 4% 0% 0% !important;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) { 
        margin: 2.3% 2% 0% 0% !important;
	}
    @media screen and (min-width: 600px) and (max-width: 640px) { 
        margin: 2.3% 3% 0% 0% !important;
	}
    @media screen and (min-width: 641px) and (max-width: 710px) { 
		margin: 2% 5% 0% 0% !important;
	}
    @media screen and (min-width: 711px) and (max-width: 767px) { 
		margin: 1.75% 2.5% 0% 0% !important;
	}
}
.navigationButtons {
    margin-left: 3.65%;
    @media screen and (max-width: 767px) {
        position: relative;
		background: $white;
		z-index: 2;
        margin-left: 0%;
	}
    @media screen and (min-width: 768px) and (max-width: 799px) { 
        margin-left: 1.55%;
    }
    @media screen and (min-width: 768px) and (max-width: 850px) {
        font-size: $main-font - 3px;
    }
    @media screen and (min-width: 800px) and (max-width: 850px) { 
        margin-left: 1.85%;
    }
    @media screen and (min-width: 851px) and (max-width: 899px) { 
        margin-left: 1.55%;
        font-size: $main-font - 2px;
    }  
    @media screen and (min-width: 900px) and (max-width: 979px) { 
        margin-left: 1.85%;
    } 
    @media screen and (min-width: 900px) and (max-width: 959px) { 
        font-size: $main-font - 1px;
    } 
    @media screen and (min-width: 980px) and (max-width: 1023px) { 
        margin-left: 2%;  
    }  
    @media screen and (min-width: 1024px) and (max-width: 1050px) { 
        margin-left: 2.45%;
	} 
    @media screen and (min-width: 1051px) and (max-width: 1079px) {  
        margin-left: 2.9%;  
	} 
    @media screen and (min-width: 1080px) and (max-width: 1109px) {  
        margin-left: 3%;
	} 
    @media screen and (min-width: 1110px) and (max-width: 1150px) { 
        margin-left: 3.25%;  
	} 
}
.navigationButtons.shop-services {
    @media screen and (max-width: 767px) {
        border-bottom: 1px solid #DDD;
     }
}
.arrivalsPlane {
    transform: rotate(180deg);
    transform: -webkit-rotate(180deg);
    transform: -moz-rotate(180deg);
    transform: -o-rotate(180deg);
    transform: -ms-rotate(180deg);
}
#leftSide-section {
    max-width: $main-width + 50px;
    margin-top: 3%;
    @media screen and (max-width: 900px) {
        margin: 6% auto 0%;
    }
    @media screen and (max-width: 1150px) {
        float: none;
    }
    @media screen and (min-width: 1151px) and (max-width: 1167px) {
		max-width: $main-width + 25px;
	}
    @media screen and (min-width: 900px) and (max-width: 1150px) {
		max-width: 850px;
		margin: auto;
	}
    @media screen and (min-width: 1280px) and (max-width: 1300px) {
        max-width: $main-width + 30px;
        padding-left: 1%;
	}
    .listHeathrow {
        @media screen and (max-width: 899px) {
		    margin-top: 6%;
	    }
        @media screen and (min-width: 600px) and (max-width: 900px) { 
		    max-width: $main-width;
	    }
        @media screen and (min-width: 900px) and (max-width: 1150px) {  
		    margin: 0% 0% 0% 5%;
	    }
    }
}
#weather {
    min-height: 160px;
    border: 1px solid $black;
    margin: 0;
    background: url("../../Images/LondonAirport/weather.jpg") no-repeat scroll;
    background-position: left center;
	h4>span {
        font-size: $main-font + 4px;
        top: 4px;
    }
    @media screen and (max-width: 899px) {
		@include margin-float-group;
	}
    @media screen and (min-width: 900px) and (max-width: 1150px) { 
	    float: left;
	}
}
#rightSide-section,
.listHeathrow,
.heathrowRightSide {
    @media screen and (max-width: 899px) {
        @include margin-float-group;
    }
}
#rightSide-section {
    @media screen and (min-width: 1024px) and (max-width: 1150px) { 
        @include margin-float-group;
	}
}
#heathrow-express {
    @media screen and (max-width: 1149px) { 
        margin-bottom: 3%;
	}
}
.heathrowRightSide,
.listHeathrow {
    @media screen and (min-width: 384px) and (max-width: 411px) { 
        max-width: $main-width + 20px;
    }
    @media screen and (min-width: 412px) and (max-width: 512px) { 
        max-width: $main-width;
	}
}
#weather>h2 img,
#weather>h4 span {
    position: relative;
}
.listHeathrow {
	margin-top: 11%;
    @media screen and (min-width: 900px) and (max-width: 1150px) { 
        float: left;
    }
    @media screen and (min-width: 1024px) and (max-width: 1150px) { 
        margin-top: 2%;
    }
}
#weather,
.listHeathrow,
.listHeathrowBottom,
.airportGuide img,
.airportGuide,
.listHeathrowBottom>li img {
	max-width: $main-width;
}
.listHeathrow,
.list-group-item:first-child {
    border-radius: 0%;
}
.listHeathrow>li {
    border-radius: 0% !important;
}
.form-travel-details {
    width: 380px;
    button {
        margin-bottom: 10px;
    }
	.formGroupAirport {
		margin-left: 15px;
		margin-right: 0;
        width: 46%;
        @media screen and (max-width: 384px) { 
            margin-left: 7px;
        }
        @media screen and (min-width: 360px) and (max-width: 411px) { 
            width: 43%;
        }
        @media screen and (min-width: 412px) and (max-width: 433px) { 
            margin-left:10px;
            width: 44.5%;
        }
        @media screen and (min-width: 434px) and (max-width: 599px) { 
            width: 42%;
        }
        
	}
	@media screen and (max-width: 360px) {
        max-width: $main-width + 50px;
    }
    p {
        margin: 8px;
    }
}
.form-travel-details,
.buttonParking,
#footerInformation>p {
    @media screen and (min-width: 360px) and (max-width: 411px) { 
        margin-left: 3%;
    }
}
.heathrowExpress img {
    margin-top: 0;
    p {
        margin: 8px;
    }
}
.buttonParking {
    margin: 6.5% 0% 0% 4%;
    @media screen and (max-width: 360px) { 
        margin-left: 2%;
    }
    @media screen and (max-width: 384px)  {
        margin-top: 9%;
    }
    @media screen and (min-width: 384px) and (max-width: 411px)  {
        margin-top: 9.25%;
    }
    @media screen and (min-width: 412px) and (max-width: 600px) { 
		margin-top: 8.3%;
	}
    @media screen and (min-width: 451px) and (max-width: 480px) { 
		margin-top: 7.85%;
	}
    @media screen and (min-width: 512px) and (max-width: 599px) { 
		margin-top: 7.95%;
	}
    @media screen and (min-width: 600px) and (max-width: 699px) { 
		margin-top: 6.4%;
	}
}
.rightSideImages {
    padding: 0 !important;
}
#rightSide-section {
    @media screen and (min-width: 900px) and (max-width: 1024px)  {
		@include margin-float-group;
	}
}
.listHeathrow-lists {
    padding-left: 10px;
    a {
        cursor: text;
    }
}
#rightSide-section,
#airportParking-whichTerminal,
#rightSide-bottomSection {
	max-width: 850px;
}
#airport-expansion-picture {
    @media screen and (min-width: 900px) and (max-width: 1150px) { 
		margin-bottom: 4%;
	}
    img {
        min-height: 450px;
        @media screen and (max-width: 899px) {
		    display: none;
	    }
        @media screen and (min-width: 900px) and (max-width: 960px) {  
		    min-height: 380px;
	    }
        @media screen and (min-width: 960px) and (max-width: 1024px) {  
		    min-height: 400px;
	    }
    }
}
.topBorder {
    border-top: 0;
}
.heathrowRightSide {
    margin: 4% auto 0%;
    @media screen and (min-width: 600px) and (max-width: 900px) { 
		max-width: $main-width;
	}
}
.heathrowRightSide,
.listHeathrow,
.form-travel-details {
     @media screen and (max-width: 384px)  {
        width: $main-width + 35px;
     }
}
.whichTerminal,
.listHeathrowBottom {
	margin-left: 5.75%;
}
.whichTerminal {
	@media screen and (min-width: 901px) and (max-width: 1150px)  {
        margin-left: 3.5%;
     }
}
.whichTerminal,
.listHeathrowBottom,
.airportGuide {
    @media screen and (max-width: 899px) {
        margin: 4% auto 0%;
    }
}
.airportGuide {
    @media screen and (min-width: 360px) and (max-width: 600px) { 
		max-width: $main-width;
	}
    @media screen and (min-width: 960px) and (max-width: 1080px) { 
		margin-left: 3%;
	}
    @media screen and (min-width: 1080px) and (max-width: 1150px) {  
		margin: 2% 0% 0% 3%;
	}
    img {
        min-height: 130px;
        @media screen and (min-width: 360px) and (max-width: 512px) { 
            max-width: $main-width;
	    }
        @media screen and (min-width: 412px) and (max-width: 767px) {
		    width: 100%;
	    }
        @include width-sizes-group;
    }
}
.listHeathrowBottom {
    @media screen and (min-width: 960px) and (max-width: 1079px) { 
		margin-left: 3%;
	}
    @media screen and (min-width: 1080px) and (max-width: 1150px) {  
		margin: 2% 0% 0% 3%;
	}
}
.listHeathrowBottom>li img {
    min-height: 130px;
    @media screen and (min-width: 412px) and (max-width: 767px) { 
		width: 100%;   
	}
}
.listHeathrowBottom>li img,
.form-travel-details {
    @media screen and (min-width: 412px) and (max-width: 512px) { 
        max-width: $main-width + 50px;
    }
    @include width-sizes-group;
}
.airportParking {
    max-width: 400px;
    border: 1px solid #DDD;
    background: $white;
    @media screen and (min-width: 412px) and (max-width: 512px) { 
        max-width: $main-width + 50px;
    }
}
.header-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
footer {
    min-height: $main-width;
    clear: both;
}
#iconsSectionContainerFooter {
    max-width: 50px;
    margin: 2% 0% 0% 3%;
    div {
        @media screen and (min-width: 768px) and (max-width: 899px) {
		    margin-top: 16.5%;
	    }
        @media screen and (min-width: 900px) and (max-width: 1024px) { 
		    margin-top: 18%;
	    }
    }
    @media screen and (max-width: 767px) {
        max-width: $main-width - 50px;
		@include margin-float-group;
        div {
		    margin-top: 3%;
            span {
		        font-size: ($main-font - 2px) !important;
	        }
	    }
    }
    @media screen and (min-width: 768px) and (max-width: 899px) {  
		margin-left: 1.5%;
	}
    @media screen and (min-width: 900px) and (max-width: 959px) {  
		margin-left: 2%;
	}
    @media screen and (min-width: 960px) and (max-width: 1023px) {  
		margin-left: 3.5%;
	}
    @media screen and (min-width: 1024px) and (max-width: 1150px) { 
		margin-left: 5.5%;
	}
}
#footerInformation {
    max-width: $maxWidth - 175px;
    margin-left: 4%;
    border-bottom: 1px solid $white;
    @media screen and (max-width: 767px) {
		margin-left: 0%;
	}
    @media screen and (max-width: 799px) {
		width: 100%;
	}
    @media screen and (min-width: 768px) and (max-width: 799px) {  
		max-width: 660px;
		margin: 1.3% 0% 0% 1%;
	}
    @media screen and (min-width: 768px) and (max-width: 899px) {  
		margin-left: 1.5%;
	}
	@media screen and (min-width: 800px) and (max-width: 850px) {  
		max-width: 695px;
	}
    @media screen and (min-width: 851px) and (max-width: 899px) {  
		max-width: 730px;
		margin-left: 1.75%;
	}
    @media screen and (min-width: 900px) and (max-width: 959px) {  
		max-width: 780px;
    }
    @media screen and (min-width: 900px) and (max-width: 1023px) { 
		margin-left: 2%;
	}
    @media screen and (min-width: 960px) and (max-width: 1023px) {   
		max-width: 830px;
	}
    @media screen and (min-width: 1024px) and (max-width: 1079px) {  
		max-width: 850px;
	}
    @media screen and (min-width: 1080px) and (max-width: 1150px) {  
		max-width: 900px;
	}
    @media screen and (min-width: 1024px) and (max-width: 1150px) { 
		margin-left: 2.5%;
	}
    p {
        margin: 2.5% 0% 0% 3.5%;  
        @media screen and (max-width: 360px) {
            margin-left: 2%;
        }
        @media screen and (max-width: 383px) {
		    font-size: $main-font - 6px;
		    margin-top: 2%;
	    }
        @media screen and (min-width: 384px) and (max-width: 411px) { 
            font-size: $main-font - 5px;
        }
        @media screen and (min-width: 412px) and (max-width: 450px) { 
            margin-top: 1.65%;
        }
        @media screen and (min-width: 412px) and (max-width: 640px) { 
            font-size: $main-font - 4px;
        }
        @media screen and (min-width: 451px) and (max-width: 480px) { 
            margin-top: 1.6%;
        }
        @media screen and (min-width: 481px) and (max-width: 540px) { 
            margin: 2% 0% 0% 3%;
        }
        @media screen and (min-width: 541px) and (max-width: 599px) { 
		    margin: 1.65% 0% 0% 1.8%;
	    }
        @media screen and (min-width: 600px) and (max-width: 639px) { 
		    margin-left: 1.6%;
	    }
        @media screen and (min-width: 640px) and (max-width: 680px) { 
		    margin-left: 1.65%;
	    }     
        @media screen and (min-width: 640px) and (max-width: 710px) { 
		    font-size: $main-font - 3px;
        }
        @media screen and (min-width: 681px) and (max-width: 710px) { 
		    margin-left: 2.1%;
	    }
        @media screen and (min-width: 711px) and (max-width: 730px) { 
		    margin-left: 1.7%;
	    }
        @media screen and (min-width: 711px) and (max-width: 899px) { 
		    font-size: $main-font - 2px;
	    }
        @media screen and (min-width: 731px) and (max-width: 767px) { 
		    margin-left: 2%;
	    } 
        @media screen and (min-width: 768px) and (max-width: 799px) {  
		    margin: 1% 0% 0% 1.2%;
	    }
        @media screen and (min-width: 800px) and (max-width: 850px) {  
		    margin: 3% 0% 0% 1.7%;
	    }
        @media screen and (min-width: 851px) and (max-width: 959px) {  
		    margin-left: 1.5%;
	    }
        @media screen and (min-width: 900px) and (max-width: 1024px) { 
		    margin-top: 3%;
	    }
        @media screen and (min-width: 960px) and (max-width: 1080px) {   
		    margin-left: 2%;
	    } 
        @media screen and (min-width: 1080px) and (max-width: 1150px) {  
		    margin-left: 2.65%;
	    }
    }
}
.listHeathrow-lists,
.footerExtraInformationTitle a,
.telephone {
    font-size: $main-font + 2px;
}
#footerAddress {
    max-width: $main-width + 30px;
    min-height: 150px;
    margin: 1.5% 0% 0% 6%;
    .londonHeathrowLimited {
        font-size: $main-font + 4px;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 900px) {  
		max-width: $main-width - 30px;
		margin-left: 3.75%;
        .address {
		    font-size: $main-font - 2px;
	    }
        .londonHeathrowLimited {
		    font-size: $main-font + 2px;
	    }
	}
    @media screen and (min-width: 900px) and (max-width: 959px) {  
		margin-left: 2.5%;
	}
    @media screen and (min-width: 960px) and (max-width: 1023px) {  
		margin-left: 3.5%;
    } 
    @media screen and (min-width: 1024px) and (max-width: 1079px) {   
		margin-left: 4.5%;
    }
    @media screen and (min-width: 1080px) and (max-width: 1150px) {  
		margin-left: 5%;
	}
}
.footerExtraInformation {
    margin: 1.5% 0% 0% 7%;
    @media screen and (max-width: 383px) {
        margin: 1% 0% 0% 2%;
    }
    @media screen and (min-width: 384px) and (max-width: 410px) {
        margin: 1% 0% 0% 3.5%;
    }
    @media screen and (min-width: 411px) and (max-width: 479px) {
		margin: 1% 0% 0% 3%;
	}
    @media screen and (min-width: 480px) and (max-width: 511px) {
		margin: 1% 0% 0% 6.6%;
	}
    @media screen and (min-width: 512px) and (max-width: 540px) {
		margin: 1% 0% 0% 8.5%;
	}
    @media screen and (min-width: 541px) and (max-width: 570px) {
		margin: 1% 0% 0% 9.5%;
	}
    @media screen and (min-width: 571px) and (max-width: 599px) {
		margin: 1% 0% 0% 10.5%;
	}
    @media screen and (min-width: 600px) and (max-width: 639px) {
		margin: 1% 0% 0% 9%;
	}
    @media screen and (min-width: 640px) and (max-width: 679px) {
		margin: 1% 0% 0% 9.65%;
	}
    @media screen and (min-width: 680px) and (max-width: 710px) {
		margin: 1% 0% 0% 10.5%;
	}
    @media screen and (min-width: 711px) and (max-width: 767px) {
		margin: 1% 0% 0% 11%;
	}
    @media screen and (min-width: 768px) and (max-width: 799px) {
		margin-left: 1%;
	}
    @media screen and (min-width: 800px) and (max-width: 899px) {
		margin-left: 3%;
	}
    @media screen and (min-width: 900px) and (max-width: 959px) {
		margin-left: 2.5%;
	}
    @media screen and (min-width: 960px) and (max-width: 1079px) {
		margin-left: 3.5%;
	}
    @media screen and (min-width: 1080px) and (max-width: 1150px) {
		margin-left: 4%;
	} 
    p {
        @media screen and (min-width: 851px) and (max-width: 900px) {
           margin: 2.5% 0% 0% 2.2%;
	  }
	}
    ul li a {
       @include footer-font-responsive;
    }
} 
.footerExtraInformationTitle {
   @include footer-font-responsive;
   a {
       cursor: text;
   }
}