﻿@import url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css');

$max-size: 100%;
$white: #FFFFFF;
$black: #000000;
$gray: #CCCCCC;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #f5f8fa;
}
#button-menu {
    background: $white;
    padding-top: 4px;
    border-top: 0;
}
#button-menu {
    height: $max-size;
    min-height: 60px;

}
#button-header {
    @media screen and (max-width: 768px) {
        height: 60px;
    }
}
#button-menu {
    background: $white;
    border-bottom: 2px solid $gray;
    .navbar-toggle {
        color: $black;
        border: 2px solid $gray;
        span {
            border: 1px solid $gray;
        }
    }
}
#navbarCollapse {
    @media screen and (max-width: 768px) {
        width: 100%;
        background: $white;
        position: absolute;
        z-index: 10;
        border-top: 2px solid $gray;
        border-bottom: 1px solid $gray;
    }
}
#logo {
    padding: 8px 15px !important;
    img {
        width: $max-size;
        max-width: 140px;
        height: 30px;
    }
}
#buttons {
    width: 440px;
    margin: 0% 14%;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0%;
    }
}
#buttons>.navigationButtons {
    margin: 0% 1%;
    a {
        font-size: 15px;
        color: $black;
        &:hover {
            background: $white !important;
        }
        @media screen and (max-width: 768px) {
            padding-left: 0 !important;
        }
    }
}
#logo>figure>img,
#buttons,
#search-bar,
#tweet-button {
    float: left;
}
#buttons,
#search-bar {
    @media screen and (max-width: 768px) {
        float: none;
        margin: auto;
    }
}
#search-bar {
    @media screen and (max-width: 768px) {
        padding: 10px 0 !important;
    }
    input {
        width: 80%;
        border-radius: 20px;
    }
}
#tweet-button button {
    letter-spacing: 1px;
    padding: 5px 18px;
    margin-top: 8px;
    @media screen and (max-width: 768px) {
        margin: 0 0 10px 0 !important;
    }
}
main {
    width: $max-size;
    max-width: 1100px;
    margin: auto;
    overflow: auto;
}
#profile,
#content,
#who-to-follow {
    width: $max-size;
    background: $white;
    float: left;
    border: 1px solid $gray;
    height: 550px;
    @media screen and (max-width: 768px) {
        float: none;
        margin: auto;
    }
}
#profile-content {
    padding-top: 10px;
    img {
        width: $max-size;
        max-width: 150px;
        display: block;
        margin: 0 auto;
        border-radius: 25px;
        border: 3px solid $gray;
    }
    #profile-activity {
        width: 100%;
        clear: both;
        background: #4df3e9;
        height: $max-size;
        min-height: 67px;
        .categories {
            margin: 0% 1.5%;
            width: $max-size;
            max-width: 70px;
            float: left;
            @media screen and (max-width: 768px) {
                float: none;
                margin: 1% auto;
            }
            p {
                padding-top: 7px;
                &:last-child {
                    margin-top: -7px;
                }
            }
        }
    }
    #profile-description {
        background: #CCCCCC;
        padding: 10px 0;
        clear: both;
        text-indent: 5px;
        p:last-child {
            margin-bottom: 0;
        }
    }
    #twitter-contacts {
        padding: 10px 5px;
        ul>li {
            padding-top: 5px;
            a {
                color: $black;
            }
        }
    }
}
#profile,
#who-to-follow {
    max-width: 250px;
}
#content {
    max-width: 530px;
    margin: 0% 3%;
    @media screen and (max-width: 768px) {
        float: none;
        margin: 5% auto;
    }
}
#who-to-follow {
     @media screen and (max-width: 768px) {
        margin-bottom: 5%;
    }
}
