﻿@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f5f8fa; }

#button-menu {
  background: #FFFFFF;
  padding-top: 4px;
  border-top: 0; }

#button-menu {
  height: 100%;
  min-height: 60px; }

@media screen and (max-width: 768px) {
  #button-header {
    height: 60px; } }

#button-menu {
  background: #FFFFFF;
  border-bottom: 2px solid #CCCCCC; }
  #button-menu .navbar-toggle {
    color: #000000;
    border: 2px solid #CCCCCC; }
    #button-menu .navbar-toggle span {
      border: 1px solid #CCCCCC; }

@media screen and (max-width: 768px) {
  #navbarCollapse {
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    z-index: 10;
    border-top: 2px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC; } }

#logo {
  padding: 8px 15px !important; }
  #logo img {
    width: 100%;
    max-width: 140px;
    height: 30px; }

#buttons {
  width: 440px;
  margin: 0% 14%; }
  @media screen and (max-width: 768px) {
    #buttons {
      width: 100%;
      margin: 0%; } }

#buttons > .navigationButtons {
  margin: 0% 1%; }
  #buttons > .navigationButtons a {
    font-size: 15px;
    color: #000000; }
    #buttons > .navigationButtons a:hover {
      background: #FFFFFF !important; }
    @media screen and (max-width: 768px) {
      #buttons > .navigationButtons a {
        padding-left: 0 !important; } }

#logo > figure > img,
#buttons,
#search-bar,
#tweet-button {
  float: left; }

@media screen and (max-width: 768px) {
  #buttons,
  #search-bar {
    float: none;
    margin: auto; } }

@media screen and (max-width: 768px) {
  #search-bar {
    padding: 10px 0 !important; } }

#search-bar input {
  width: 80%;
  border-radius: 20px; }

#tweet-button button {
  letter-spacing: 1px;
  padding: 5px 18px;
  margin-top: 8px; }
  @media screen and (max-width: 768px) {
    #tweet-button button {
      margin: 0 0 10px 0 !important; } }

main {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  overflow: auto; }

#profile,
#content,
#who-to-follow {
  width: 100%;
  background: #FFFFFF;
  float: left;
  border: 1px solid #CCCCCC;
  height: 550px; }
  @media screen and (max-width: 768px) {
    #profile,
    #content,
    #who-to-follow {
      float: none;
      margin: auto; } }

#profile-content {
  padding-top: 10px; }
  #profile-content img {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    border: 3px solid #CCCCCC; }
  #profile-content #profile-activity {
    width: 100%;
    clear: both;
    background: #4df3e9;
    height: 100%;
    min-height: 67px; }
    #profile-content #profile-activity .categories {
      margin: 0% 1.5%;
      width: 100%;
      max-width: 70px;
      float: left; }
      @media screen and (max-width: 768px) {
        #profile-content #profile-activity .categories {
          float: none;
          margin: 1% auto; } }
      #profile-content #profile-activity .categories p {
        padding-top: 7px; }
        #profile-content #profile-activity .categories p:last-child {
          margin-top: -7px; }
  #profile-content #profile-description {
    background: #CCCCCC;
    padding: 10px 0;
    clear: both;
    text-indent: 5px; }
    #profile-content #profile-description p:last-child {
      margin-bottom: 0; }
  #profile-content #twitter-contacts {
    padding: 10px 5px; }
    #profile-content #twitter-contacts ul > li {
      padding-top: 5px; }
      #profile-content #twitter-contacts ul > li a {
        color: #000000; }

#profile,
#who-to-follow {
  max-width: 250px; }

#content {
  max-width: 530px;
  margin: 0% 3%; }
  @media screen and (max-width: 768px) {
    #content {
      float: none;
      margin: 5% auto; } }

@media screen and (max-width: 768px) {
  #who-to-follow {
    margin-bottom: 5%; } }

