﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

$black: #000000;
$white: #FFFFFF;
$maxWidth: 1140px;
$alegreya: Alegreya Sans;
$bree: Bree Serif;

@mixin widthHeight {
    width: 100%;
    height: 100%;
}  

#activitateSection,
#activitateSectionArticle {
    width: 100%;
}
#activitateSection {
    max-width: $maxWidth - 5px;
    background: $white;
    p {
        font: {
            family: $alegreya;
            size: 18px;
        } 
    }
}
#activitateSection,
.sendSymbol {
    padding: 10px;
}
#activitateSectionArticle {
    max-width: $maxWidth - 140px;
    margin-bottom: 1.5%;
    h3, 
    h4 {
        font-family: $bree;
    }
    h3 {
        margin-bottom: 4%;
    }
    .relatia-cu-autoritatile {
        margin: 5% 0%;
    }
    .relatia-cu-autoritatile-institutions {
        margin: 2.5% 0%;
    }
    h4 {
        font-weight: bold;
    }
    .alexPanisoaraVideo {
        @include widthHeight;
        max-width: $maxWidth - 340px;
        min-height: 500px;
        margin-top: 5%;
    }
}
.sendSymbol {
    border-radius: 100%;
    font-size: 30px;
    color: #388E3C;
    margin-left: 5px;
    border: 2px solid #388E3C;
    position: relative;
    top: 9px;
    @media screen and (max-width: 412px) {
        top: 2px;
    }
    @media screen and (min-width: 413px) and (max-width: 600px) {
        top: 3px;
    }
}
.redSymbol {
    color: #D50000;
    border: 2px solid #D50000;
}
.blueSymbol {
    color: #0D47A1;
    border: 2px solid #0D47A1;
}
.blackSymbol {
    color: $black;
    border: 2px solid $black;
    @media screen and (max-width: 375px) {
        margin-top: 5px;
    }
}
