﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
#activitateSection,
#activitateSectionArticle {
  width: 100%; }

#activitateSection {
  max-width: 1135px;
  background: #FFFFFF; }
  #activitateSection p {
    font-family: Alegreya Sans;
    font-size: 18px; }

#activitateSection,
.sendSymbol {
  padding: 10px; }

#activitateSectionArticle {
  max-width: 1000px;
  margin-bottom: 1.5%; }
  #activitateSectionArticle h3,
  #activitateSectionArticle h4 {
    font-family: Bree Serif; }
  #activitateSectionArticle h3 {
    margin-bottom: 4%; }
  #activitateSectionArticle .relatia-cu-autoritatile {
    margin: 5% 0%; }
  #activitateSectionArticle .relatia-cu-autoritatile-institutions {
    margin: 2.5% 0%; }
  #activitateSectionArticle h4 {
    font-weight: bold; }
  #activitateSectionArticle .alexPanisoaraVideo {
    width: 100%;
    height: 100%;
    max-width: 800px;
    min-height: 500px;
    margin-top: 5%; }

.sendSymbol {
  border-radius: 100%;
  font-size: 30px;
  color: #388E3C;
  margin-left: 5px;
  border: 2px solid #388E3C;
  position: relative;
  top: 9px; }
  @media screen and (max-width: 412px) {
    .sendSymbol {
      top: 2px; } }
  @media screen and (min-width: 413px) and (max-width: 600px) {
    .sendSymbol {
      top: 3px; } }

.redSymbol {
  color: #D50000;
  border: 2px solid #D50000; }

.blueSymbol {
  color: #0D47A1;
  border: 2px solid #0D47A1; }

.blackSymbol {
  color: #000000;
  border: 2px solid #000000; }
  @media screen and (max-width: 375px) {
    .blackSymbol {
      margin-top: 5px; } }

