﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
.address,
#contactSection,
#contac-img,
.contactForm {
  width: 100%; }

#headerContactForm {
  width: 100%;
  height: 100%; }

#form-content button,
.address p {
  font-family: Alegreya Sans; }

.address {
  margin-top: 4%;
  max-width: 640px; }
  .address p {
    font-size: 20px; }
    @media screen and (max-width: 599px) {
      .address p {
        font-size: 17px; } }
    @media screen and (min-width: 600px) and (max-width: 1024px) {
      .address p {
        font-size: 21px; } }

#contactSection {
  max-width: 1135px;
  background: #FFFFFF; }

#contactSection,
#form-content {
  padding: 10px; }

#contactSection h3,
#headerContactForm p {
  font-family: Bree Serif; }

#contac-img {
  margin: 3% auto;
  max-width: 790px;
  border: 1px solid #CCCCCC; }

.contactForm,
#headerContactForm {
  max-width: 440px; }

.contactForm {
  border: 1px solid #BDBDBD;
  margin: 3% auto 2%; }

#headerContactForm {
  min-height: 45px;
  line-height: 45px;
  padding:0;
  background: #EEEEEE;
  border-bottom: 1px solid #BDBDBD; }
  #headerContactForm p {
    font-weight: bold;
    font-size: 21px; }

#form-content button {
  font-size: 16px; }

@media screen and (max-width: 768px) {
  #form-content label {
    font-size: 16px; } }

#form-content .required {
  float: right;
  color: #FF0000;
  font-weight: bold;
  font-style: italic;
  font-size: 14px; }

.contactMe {
  margin-top:0; }

