﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

@mixin widthHeight {
    width: 100%;
    height: 100%;
}

$black: #000000;
$white: #FFFFFF;
$maxWidth: 1140px;
$alegreya: Alegreya Sans;
$bree-font: Bree Serif;

.address,
#contactSection,
#contac-img,
.contactForm {
    width: 100%;
}
#headerContactForm {
    @include widthHeight;
}
#form-content button,
.address p {
    font-family: $alegreya;
} 
.address {
    margin-top: 4%;
    max-width: $maxWidth - 500px;
    p {
        font-size: 20px;
        @media screen and (max-width: 599px) {
            font-size: 17px;
        }
        @media screen and (min-width: 600px) and (max-width: 1024px) {
            font-size: 21px;
        }
    }
}
#contactSection {
    max-width: $maxWidth - 5px;
    background: $white;
}
#contactSection,
#form-content {
    padding: 10px;
}
#contactSection h3,
#headerContactForm p {
    font-family: $bree-font;
}
#contac-img {
    margin: 3% auto;
    max-width: $maxWidth - 350px;
    border: 1px solid #CCCCCC;
}
.contactForm,
#headerContactForm {
    max-width: $maxWidth - 700px;
}
.contactForm {
    border: 1px solid #BDBDBD;
    margin: 3% auto 2%;
}
#headerContactForm {
    min-height: 45px;
    line-height: 45px;
    padding:0;
    background: #EEEEEE;
    border-bottom: 1px solid #BDBDBD;
    p {
        font: {
            weight: bold;
            size: 21px;
            }
        }
}
#form-content {
    button {
        font-size: 16px;
    }
    label {
        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
    .required {
        float: right;
        color: #FF0000;
        font: {
            weight: bold;
            style: italic;
            size: 14px;
        }
    }  
}
.contactMe {
    margin-top:0;
}
