﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
#CvSection,
#CvSectionArticle,
.address,
.CvTextSection {
  width: 100%; }

.subTitles,
.address,
.CvTextSection ul > li {
  font-family: Alegreya Sans;
  font-size: 18px; }

.address {
  max-width: 300px; }

#CvSection {
  max-width: 1135px;
  background: #FFFFFF;
  padding: 10px; }
  #CvSection h4 {
    margin-top: 10px;
    font-size: 20px; }
  #CvSection span {
    position: relative;
    top: 3px;
    right: 2px; }

#CvSectionArticle,
.CvTextSection {
  max-width: 1000px; }

#CvSection h3,
#CvSection h4,
.CvSectionTitles {
  font-family: Bree Serif; }

#CvSection h4,
.CvSectionTitles {
  font-weight: bold; }

.CvSectionTitles {
  font-size: 22px;
  margin: 2.5% 0% 4%; }
  .CvSectionTitles #CvSectionTitlesIcon {
    position: relative;
    top:0; }

