﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

$white: #FFFFFF;
$maxWidth: 1140px;
$alegreya: Alegreya Sans;
$bree: Bree Serif;

#CvSection,
#CvSectionArticle,
.address,
.CvTextSection {
    width: 100%;
}
.subTitles,
.address,
.CvTextSection ul>li {
     font: {
        family: $alegreya;
        size: 18px;
    } 
}
.address {
    max-width: $maxWidth - 840px;
}
#CvSection {
    max-width: $maxWidth - 5px;
    background: $white;
    padding: 10px;
    h4 {
        margin-top: 10px;
	    font-size: 20px;
    }
    span {
        position: relative;
        top: 3px;
        right: 2px;
    }
}
#CvSectionArticle,
.CvTextSection {
    max-width: $maxWidth - 140px;
}
#CvSection h3,
#CvSection h4,
.CvSectionTitles {
    font-family: $bree;
}
#CvSection h4,
.CvSectionTitles {
    font-weight: bold;
}
.CvSectionTitles {
    font-size: 22px;
    margin: 2.5% 0% 4%;
    #CvSectionTitlesIcon {
        position: relative;
        top:0;
    }
}