﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

$white: #FFFFFF;
$maxWidth: 1140px;
$alegreya: Alegreya Sans;
$bree: Bree Serif;

#despreMineSection, 
.despreMineText {
    width: 100%;
}
#despreMineSection p {
    font: {
        family: $alegreya;
        size: 18px;
    } 
    @media screen and (min-width: 600px) and (max-width: 768px) {
        font-size: 20px;
    }
}
#despreMineSection {
    max-width: $maxWidth - 5px;
    background: $white;
    padding: 10px;
    h3, h4 {
        font-family: $bree;
    }
}
.despreMineText {
    max-width: $maxWidth - 140px;
    margin-top: 5%;
    .despre-mine-paragraphs {
        margin:0;
        text-indent: 5%;
    }
}
hr {
    margin-bottom: 20px !important;
}