﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
#despreMineSection,
.despreMineText {
  width: 100%; }

#despreMineSection p {
  font-family: Alegreya Sans;
  font-size: 18px; }
  @media screen and (min-width: 600px) and (max-width: 768px) {
    #despreMineSection p {
      font-size: 20px; } }

#despreMineSection {
  max-width: 1135px;
  background: #FFFFFF;
  padding: 10px; }
  #despreMineSection h3, #despreMineSection h4 {
    font-family: Bree Serif; }

.despreMineText {
  max-width: 1000px;
  margin-top: 5%; }
  .despreMineText .despre-mine-paragraphs {
    margin:0;
    text-indent: 5%; }

hr {
  margin-bottom: 20px !important; }

