﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

$black: #000000;
$white: #FFFFFF;
$maxWidth: 1140px;
$alegreya: Alegreya Sans;
$bree: Bree Serif;

#faqSection {
    background: $white;
    padding: 10px;
    max-width: $maxWidth - 5px;
    h3 {
        margin-bottom: 4%;
    }
}
#faqSectionArticle {
    max-width: $maxWidth - 140px;
}
hr {
	margin-bottom:0;
}
.faqInformationSection {
    margin-top: 10px;
    h4 {
        font:{
            size: 20px;
            weight: bold;
        }
        text-indent: 5px;
        margin: 2% 0%;
        @media screen and (max-width: 375px) {
            font-size: 18px;
        }
    }
}
#faqSection h3,
.faqInformationSection h3,
.faqInformationSection h4 {
    font-family: $bree;
}
.faq-answers {
    padding:0 !important;
    border-radius: 5px !important;
    background: $white !important;
    p {
       font:{
            family: $alegreya;
            size: 18px;
        }
        @media screen and (min-width: 376px) and (max-width: 599px) {
            font-size: 18px;
        }
        @media screen and (min-width: 600px) and (max-width: 800px) {
            font-size: 21px;
        }
    }
}
.faq-answers-bottom {
    font:{
        family: $alegreya !important;
        size: 18px !important;
        weight: bold !important;
    }
}