﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
#faqSection {
  background: #FFFFFF;
  padding: 10px;
  max-width: 1135px; }
  #faqSection h3 {
    margin-bottom: 4%; }

#faqSectionArticle {
  max-width: 1000px; }

hr {
  margin-bottom:0; }

.faqInformationSection {
  margin-top: 10px; }
  .faqInformationSection h4 {
    font-size: 20px;
    font-weight: bold;
    text-indent: 5px;
    margin: 2% 0%; }
    @media screen and (max-width: 375px) {
      .faqInformationSection h4 {
        font-size: 18px; } }

#faqSection h3,
.faqInformationSection h3,
.faqInformationSection h4 {
  font-family: Bree Serif; }

.faq-answers {
  padding:0 !important;
  border-radius: 5px !important;
  background: #FFFFFF !important; }
  .faq-answers p {
    font-family: Alegreya Sans;
    font-size: 18px; }
    @media screen and (min-width: 376px) and (max-width: 599px) {
      .faq-answers p {
        font-size: 18px; } }
    @media screen and (min-width: 600px) and (max-width: 800px) {
      .faq-answers p {
        font-size: 21px; } }

.faq-answers-bottom {
  font-family: Alegreya Sans !important;
  font-size: 18px !important;
  font-weight: bold !important; }

