﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

@mixin widthHeight {
    width: 100%;
    height: 100%;
}
@mixin left-float-sizes {
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        float: left;
    }
}

$black: #000000;
$white: #FFFFFF;
$maxWidth: 1140px;
$alegreya: Alegreya Sans;
$bree: Bree Serif;

body,
footer,
.social-icons {
    background: $black;
}
#pageContainer,
#middle-content>div {
    @media screen and (max-width: 1200px) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
#button-menu,
#form-search-bar {
    width: 100% !important;
}
#button-menu {
    max-width: $maxWidth !important;
    position: fixed !important;
    z-index: 1;
    @media screen and (max-width: 767px) {
        border-radius: 0% !important;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        left: 0 !important;
    }
    @media screen and (min-width: 1140px) and (max-width: 1200px) {
        max-width: 100% !important;
    }
}
#navProperties,
#middle-content,
#alexandru-panisoara-picture img,
hr,
#icons-section-container {
    width: 100%;
}
#alexandru-panisoara-picture img,
footer,
#icons-section,
.social-icons {
    @include widthHeight;
}
#navProperties {
    max-width: $maxWidth - 340px;
    @media screen and (min-width: 768px) and (max-width: 800px) {
        max-width: 660px;
    }
    @media screen and (min-width: 768px) and (max-width: 899px) {
        margin-left: 1.5%;
    }
    @include left-float-sizes;
    @media screen and (min-width: 800px) and (max-width: 899px) {
        max-width: 675px;
    }
    @media screen and (min-width: 900px) and (max-width: 960px) {
        max-width: 600px;
    }
    @media screen and (min-width: 961px) and (max-width: 992px) {
        max-width: 650px;
    }
    @media screen and (min-width: 961px) and (max-width: 1080px) {
        margin-left: 2%;
    }
    @media screen and (min-width: 993px) and (max-width: 1200px) {
        max-width: 665px;
    }
    @media screen and (min-width: 1081px) and (max-width: 1200px) {
        margin-left: 4%;
    }
    @media screen and (min-width: 1140px) and (max-width: 1200px) {
        margin-left: 2% !important;
    }
    li > a {
        @media screen and (min-width: 768px) and (max-width: 799px) {
            padding: 15px;
        }
        @media screen and (min-width: 800px) and (max-width: 850px) {
            padding: 15px 16px;
        }
        @media screen and (min-width: 851px) and (max-width: 900px) {
            padding: 15px;
        }
        @media screen and (min-width: 900px) and (max-width: 960px) {
            padding: 15px 9px;
        }
        @media screen and (min-width: 961px) and (max-width: 992px) {
            padding: 15px 13px;
        }
    }
}
.navigationButtons,
.alexandru-panisoara-description p {
    font-size: 18px;
}
.navigationButtons {
    font-family: $alegreya;
    letter-spacing: 1px;
    margin-left: 2.5%;
    transition: color 0.3s;
    &:hover {
        color: $white !important;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        margin-left: 0%;
    }
}
.header-navigation figure>img,
#form-search-bar span {
    position: relative;
}
.header-navigation figure>img {
    bottom: 10px;
    @media screen and (min-width: 768px) and (max-width: 800px) {
        bottom: 5px;
        width: 100%;
        max-width: 26px;
    }
    @include left-float-sizes;
}
#form-search-bar {
    max-width: 190px !important;
    padding: 0 !important;
    @media screen and (max-width: 767px) {
        max-width: 300px;
        margin-left: 3% !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
        -webkit-box-shadow: 0 0 rgba(255, 255, 255, .1), 0 0 0 rgba(255, 255, 255, .1) !important;
        box-shadow: inset 0 0 0 rgba(255, 255, 255, .1), 0 0 0 rgba(255, 255, 255, .1) !important;
        margin-bottom: 10px !important;
    }
    @media screen and (min-width: 768px) and (max-width: 800px) {
        max-width: 120px !important;
    }
    @media screen and (min-width: 768px) and (max-width: 899px) {
        display: none;
    }
    @media screen and (min-width: 900px) and (max-width: 960px) {
        max-width: 200px !important;
    }
    @media screen and (min-width: 961px) and (max-width: 992px) {
        max-width: 170px !important;
    }
    @media screen and (min-width: 993px) and (max-width: 1024px) {
        max-width: 200px !important;
        margin-left: 0 !important;
    }
    @media screen and (min-width: 1025px) and (max-width: 1080px) {
        margin-left: 1%;
    }
    @media screen and (min-width: 1081px) and (max-width: 1200px) {
        margin-left: 2% !important;
    }
    @media screen and (max-width: 1139px) {
        float: left !important;
    }
    @media screen and (min-width: 1140px) and (max-width: 1200px) {
        margin-left: 4% !important;
    }
    #form-input-properties {
        width: 80%;
    }
    #search-icon, 
    span {
        color: #CCCCCC;
    }
    span {
        font-size: 25px;
        top: 7px;
        right: 10px;
        transition: color 0.4s;
        @include left-float-sizes;
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            top: 8px;
            right: 5px;
        }
        @media screen and (min-width: 1140px) and (max-width: 1200px) {
            top: 3px;
        }
    }
    input {
        @media screen and (max-width: 767px) {
            width: 180px;
        }
        @media screen and (min-width: 768px) and (max-width: 800px) {
            max-width: 95px !important;
        }
        @media screen and (min-width: 900px) and (max-width: 960px) {
            max-width: 160px !important;
        }
        @media screen and (min-width: 900px) and (max-width: 1024px) {
            float: none !important;
        }
        @media screen and (min-width: 961px) and (max-width: 992px) {
            max-width: 180px !important;
        }
        @media screen and (min-width: 993px) and (max-width: 1024px) {
            width: 165px !important;
        }
    }
}
#navbarCollapse {
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
#form-search-bar span:hover,
.alexandru-panisoara-description p,
hr,
.facebookIcon,
.twitterIcon,
.googlePlusIcon,
.linkedinIcon,
.youtubeIcon {
    color: $white;
}
#form-search-bar,
#form-search-bar span,
#form-search-bar input {
    float: left !important;
}
#middle-content {
    margin-top: 4%;
    @media screen and (max-width: 375px) {
        margin-top: 15%;
    }
    @media screen and (min-width: 376px) and (max-width: 414px) {
        margin-top: 13%;
    }
    @media screen and (min-width: 415px) and (max-width: 512px) {
        margin-top: 11%;
    }
    @media screen and (min-width: 513px) and (max-width: 599px) {
        margin-top: 9%;
    }
    @media screen and (min-width: 600px) and (max-width: 799px) {
        margin-top: 7%;
    }
    @media screen and (min-width: 800px) and (max-width: 899px) {
        margin-top: 6%;
    }
    @media screen and (min-width: 900px) and (max-width: 1024px) {
        margin-top: 5%;
    }
    @media screen and (min-width: 1140px) and (max-width: 1200px) {
        margin-top: 4%;
    }
    @media screen and (min-width: 1441px) and (max-width: 1799px) {
        margin-top: 3%;
    }
    @media screen and (min-width: 1800px) and (max-width: 2560px) {
        margin-top: 2%;
    }
}
.alexandru-panisoara-description,
#alexandru-panisoara-picture img,
footer {
    max-width: $maxWidth - 5px;
}
.alexandru-panisoara-description {
    padding: 10px;
    margin-top: 5%;
    p {
       font-family: $bree;
       @media screen and (max-width: 414px) {
           font-size: 16px;
        }
    }
}
#alexandru-panisoara-picture img {
    min-height: 500px;
    @media screen and (max-width: 375px) {
        min-height: 180px;
    }
    @media screen and (min-width: 376px) and (max-width: 414px) {
        min-height: 200px;
    }
    @media screen and (min-width: 415px) and (max-width: 512px) {
        min-height: 250px;
    }
    @media screen and (min-width: 513px) and (max-width: 599px) {
        min-height: 280px;
    }
    @media screen and (min-width: 600px) and (max-width: 767px) {
        min-height: 330px;
    }
    @media screen and (min-width: 768px) and (max-width: 899px) {
        min-height: 390px;
    }
    @media screen and (min-width: 900px) and (max-width: 960px) {
        min-height: 420px;
    }
    @media screen and (min-width: 1025px) and (max-width: 1080px) {
        min-height: 465px;
    }
}
hr {
    max-width: $maxWidth;
    margin-bottom: 0;
}
footer {
    min-height: 100px;
}
#icons-section,
.social-icons {
    float: left;
}
#icons-section-container,
#icons-section,
.social-icons {
    min-height: 45px;
}
#icons-section-container {
    max-width: 300px;
    margin: 2% auto;
    float: none;
    @media screen and (max-width: 480px) {
        margin: 4% auto;
        max-width: 275px;
    }
}
#icons-section {
    max-width: 290px;
     @media screen and (max-width: 480px) {
        margin: 4% auto;
        max-width: 270px;
    }
}
.social-icons {
    max-width: 45px;
    padding-top: 9px;
    text-align: center;
    border-radius: 100%;
    transition: background 0.3s;
    margin-left: 4%;
    @media screen and (max-width: 480px) {
        margin-left: 2%;
    }
    @media screen and (min-width: 600px) and (max-width: 800px) {
        padding-top: 7px;
    }
    @media screen and (min-width: 800px) and (max-width: 900px) {
        padding-top: 10px;
    }
}
.facebookColor:hover,
.googlePlusColor:hover,
.linkedinColor:hover,
.twitterColor:hover,
.youtubeColor:hover {
    cursor: pointer;
}
.facebookColor:hover {
    background: #3C5B9B;
}
.googlePlusColor:hover {
    background: #F63E28;
}
.linkedinColor:hover {
    background: #007AB9;
}
.twitterColor:hover {
    background: #2DAAE1;
}
.youtubeColor:hover {
    background: #CF3427;
}
.facebookIcon,
.twitterIcon,
.googlePlusIcon,
.linkedinIcon,
.youtubeIcon {
    font-size: 30px;
    @media screen and (max-width: 600px) {
        font-size: 28px;
    }
}
