﻿@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
body,
footer,
.social-icons {
  background: #000000; }

@media screen and (max-width: 1200px) {
  #pageContainer,
  #middle-content > div {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

#button-menu,
#form-search-bar {
  width: 100% !important; }

#button-menu {
  max-width: 1140px !important;
  position: fixed !important;
  z-index: 1; }
  @media screen and (max-width: 767px) {
    #button-menu {
      border-radius: 0% !important; } }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    #button-menu {
      left: 0 !important; } }
  @media screen and (min-width: 1140px) and (max-width: 1200px) {
    #button-menu {
      max-width: 100% !important; } }

#navProperties,
#middle-content,
#alexandru-panisoara-picture img,
hr,
#icons-section-container {
  width: 100%; }

#alexandru-panisoara-picture img,
footer,
#icons-section,
.social-icons {
  width: 100%;
  height: 100%; }

#navProperties {
  max-width: 800px; }
  @media screen and (min-width: 768px) and (max-width: 800px) {
    #navProperties {
      max-width: 660px; } }
  @media screen and (min-width: 768px) and (max-width: 899px) {
    #navProperties {
      margin-left: 1.5%; } }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    #navProperties {
      float: left; } }
  @media screen and (min-width: 800px) and (max-width: 899px) {
    #navProperties {
      max-width: 675px; } }
  @media screen and (min-width: 900px) and (max-width: 960px) {
    #navProperties {
      max-width: 600px; } }
  @media screen and (min-width: 961px) and (max-width: 992px) {
    #navProperties {
      max-width: 650px; } }
  @media screen and (min-width: 961px) and (max-width: 1080px) {
    #navProperties {
      margin-left: 2%; } }
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    #navProperties {
      max-width: 665px; } }
  @media screen and (min-width: 1081px) and (max-width: 1200px) {
    #navProperties {
      margin-left: 4%; } }
  @media screen and (min-width: 1140px) and (max-width: 1200px) {
    #navProperties {
      margin-left: 2% !important; } }
  @media screen and (min-width: 768px) and (max-width: 799px) {
    #navProperties li > a {
      padding: 15px; } }
  @media screen and (min-width: 800px) and (max-width: 850px) {
    #navProperties li > a {
      padding: 15px 16px; } }
  @media screen and (min-width: 851px) and (max-width: 900px) {
    #navProperties li > a {
      padding: 15px; } }
  @media screen and (min-width: 900px) and (max-width: 960px) {
    #navProperties li > a {
      padding: 15px 9px; } }
  @media screen and (min-width: 961px) and (max-width: 992px) {
    #navProperties li > a {
      padding: 15px 13px; } }

.navigationButtons,
.alexandru-panisoara-description p {
  font-size: 18px; }

.navigationButtons {
  font-family: Alegreya Sans;
  letter-spacing: 1px;
  margin-left: 2.5%;
  transition: color 0.3s; }
  .navigationButtons:hover {
    color: #FFFFFF !important; }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .navigationButtons {
      margin-left: 0%; } }

.header-navigation figure > img,
#form-search-bar span {
  position: relative; }

.header-navigation figure > img {
  bottom: 10px; }
  @media screen and (min-width: 768px) and (max-width: 800px) {
    .header-navigation figure > img {
      bottom: 5px;
      width: 100%;
      max-width: 26px; } }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    .header-navigation figure > img {
      float: left; } }

#form-search-bar {
  max-width: 190px !important;
  padding: 0 !important; }
  @media screen and (max-width: 767px) {
    #form-search-bar {
      max-width: 300px;
      margin-left: 3% !important;
      border-top: 0 !important;
      border-bottom: 0 !important;
      -webkit-box-shadow: 0 0 rgba(255, 255, 255, 0.1), 0 0 0 rgba(255, 255, 255, 0.1) !important;
      box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 rgba(255, 255, 255, 0.1) !important;
      margin-bottom: 10px !important; } }
  @media screen and (min-width: 768px) and (max-width: 800px) {
    #form-search-bar {
      max-width: 120px !important; } }
  @media screen and (min-width: 768px) and (max-width: 899px) {
    #form-search-bar {
      display: none; } }
  @media screen and (min-width: 900px) and (max-width: 960px) {
    #form-search-bar {
      max-width: 200px !important; } }
  @media screen and (min-width: 961px) and (max-width: 992px) {
    #form-search-bar {
      max-width: 170px !important; } }
  @media screen and (min-width: 993px) and (max-width: 1024px) {
    #form-search-bar {
      max-width: 200px !important;
      margin-left: 0 !important; } }
  @media screen and (min-width: 1025px) and (max-width: 1080px) {
    #form-search-bar {
      margin-left: 1%; } }
  @media screen and (min-width: 1081px) and (max-width: 1200px) {
    #form-search-bar {
      margin-left: 2% !important; } }
  @media screen and (max-width: 1139px) {
    #form-search-bar {
      float: left !important; } }
  @media screen and (min-width: 1140px) and (max-width: 1200px) {
    #form-search-bar {
      margin-left: 4% !important; } }
  #form-search-bar #form-input-properties {
    width: 80%; }
  #form-search-bar #search-icon,
  #form-search-bar span {
    color: #CCCCCC; }
  #form-search-bar span {
    font-size: 25px;
    top: 7px;
    right: 10px;
    transition: color 0.4s; }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      #form-search-bar span {
        float: left; } }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      #form-search-bar span {
        top: 8px;
        right: 5px; } }
    @media screen and (min-width: 1140px) and (max-width: 1200px) {
      #form-search-bar span {
        top: 3px; } }
  @media screen and (max-width: 767px) {
    #form-search-bar input {
      width: 180px; } }
  @media screen and (min-width: 768px) and (max-width: 800px) {
    #form-search-bar input {
      max-width: 95px !important; } }
  @media screen and (min-width: 900px) and (max-width: 960px) {
    #form-search-bar input {
      max-width: 160px !important; } }
  @media screen and (min-width: 900px) and (max-width: 1024px) {
    #form-search-bar input {
      float: none !important; } }
  @media screen and (min-width: 961px) and (max-width: 992px) {
    #form-search-bar input {
      max-width: 180px !important; } }
  @media screen and (min-width: 993px) and (max-width: 1024px) {
    #form-search-bar input {
      width: 165px !important; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  #navbarCollapse {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

#form-search-bar span:hover,
.alexandru-panisoara-description p,
hr,
.facebookIcon,
.twitterIcon,
.googlePlusIcon,
.linkedinIcon,
.youtubeIcon {
  color: #FFFFFF; }

#form-search-bar,
#form-search-bar span,
#form-search-bar input {
  float: left !important; }

#middle-content {
  margin-top: 4%; }
  @media screen and (max-width: 375px) {
    #middle-content {
      margin-top: 15%; } }
  @media screen and (min-width: 376px) and (max-width: 414px) {
    #middle-content {
      margin-top: 13%; } }
  @media screen and (min-width: 415px) and (max-width: 512px) {
    #middle-content {
      margin-top: 11%; } }
  @media screen and (min-width: 513px) and (max-width: 599px) {
    #middle-content {
      margin-top: 9%; } }
  @media screen and (min-width: 600px) and (max-width: 799px) {
    #middle-content {
      margin-top: 7%; } }
  @media screen and (min-width: 800px) and (max-width: 899px) {
    #middle-content {
      margin-top: 6%; } }
  @media screen and (min-width: 900px) and (max-width: 1024px) {
    #middle-content {
      margin-top: 5%; } }
  @media screen and (min-width: 1140px) and (max-width: 1200px) {
    #middle-content {
      margin-top: 4%; } }
  @media screen and (min-width: 1441px) and (max-width: 1799px) {
    #middle-content {
      margin-top: 3%; } }
  @media screen and (min-width: 1800px) and (max-width: 2560px) {
    #middle-content {
      margin-top: 2%; } }

.alexandru-panisoara-description,
#alexandru-panisoara-picture img,
footer {
  max-width: 1135px; }

.alexandru-panisoara-description {
  padding: 10px;
  margin-top: 5%; }
  .alexandru-panisoara-description p {
    font-family: Bree Serif; }
    @media screen and (max-width: 414px) {
      .alexandru-panisoara-description p {
        font-size: 16px; } }

#alexandru-panisoara-picture img {
  min-height: 500px; }
  @media screen and (max-width: 375px) {
    #alexandru-panisoara-picture img {
      min-height: 180px; } }
  @media screen and (min-width: 376px) and (max-width: 414px) {
    #alexandru-panisoara-picture img {
      min-height: 200px; } }
  @media screen and (min-width: 415px) and (max-width: 512px) {
    #alexandru-panisoara-picture img {
      min-height: 250px; } }
  @media screen and (min-width: 513px) and (max-width: 599px) {
    #alexandru-panisoara-picture img {
      min-height: 280px; } }
  @media screen and (min-width: 600px) and (max-width: 767px) {
    #alexandru-panisoara-picture img {
      min-height: 330px; } }
  @media screen and (min-width: 768px) and (max-width: 899px) {
    #alexandru-panisoara-picture img {
      min-height: 390px; } }
  @media screen and (min-width: 900px) and (max-width: 960px) {
    #alexandru-panisoara-picture img {
      min-height: 420px; } }
  @media screen and (min-width: 1025px) and (max-width: 1080px) {
    #alexandru-panisoara-picture img {
      min-height: 465px; } }

hr {
  max-width: 1140px;
  margin-bottom: 0; }

footer {
  min-height: 100px; }

#icons-section,
.social-icons {
  float: left; }

#icons-section-container,
#icons-section,
.social-icons {
  min-height: 45px; }

#icons-section-container {
  max-width: 300px;
  margin: 2% auto;
  float: none; }
  @media screen and (max-width: 480px) {
    #icons-section-container {
      margin: 4% auto;
      max-width: 275px; } }

#icons-section {
  max-width: 290px; }
  @media screen and (max-width: 480px) {
    #icons-section {
      margin: 4% auto;
      max-width: 270px; } }

.social-icons {
  max-width: 45px;
  padding-top: 9px;
  text-align: center;
  border-radius: 100%;
  transition: background 0.3s;
  margin-left: 4%; }
  @media screen and (max-width: 480px) {
    .social-icons {
      margin-left: 2%; } }
  @media screen and (min-width: 600px) and (max-width: 800px) {
    .social-icons {
      padding-top: 7px; } }
  @media screen and (min-width: 800px) and (max-width: 900px) {
    .social-icons {
      padding-top: 10px; } }

.facebookColor:hover,
.googlePlusColor:hover,
.linkedinColor:hover,
.twitterColor:hover,
.youtubeColor:hover {
  cursor: pointer; }

.facebookColor:hover {
  background: #3C5B9B; }

.googlePlusColor:hover {
  background: #F63E28; }

.linkedinColor:hover {
  background: #007AB9; }

.twitterColor:hover {
  background: #2DAAE1; }

.youtubeColor:hover {
  background: #CF3427; }

.facebookIcon,
.twitterIcon,
.googlePlusIcon,
.linkedinIcon,
.youtubeIcon {
  font-size: 30px; }
  @media screen and (max-width: 600px) {
    .facebookIcon,
    .twitterIcon,
    .googlePlusIcon,
    .linkedinIcon,
    .youtubeIcon {
      font-size: 28px; } }

